<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает название реки Сингили?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Быть может, в основе названия реки татарское (тюрккое) имя Синегул, которое могло на картах превратится в гидроним Сингили. Имя Синегул состоит из двух слов Сина + Кул, где Сина персидское имя, имеющее значение «старейшина» и Кул тюркское имя, означающее «раб Божий»."
        }
      }
    }
    </script>