<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Что означает название реки Ясени?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Есть мнение, что название реки Ясени, происходит от половецкого имени Асан Ясен. Возможно, имя Ясен это искажение татарского имени Ясин производного от арабского Йасин. Йа Син образовано от первых букв 36 суры Корана, имеющие сокровенный смысл."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Гречаная?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Можно предположить, что первоначальное название скопления хуторов вдоль речки в народе, на кубанском диалекте, называли Грэчаныки, что означает «гречневые блины». На картах это народное название попало в «исправленном» виде как Гричанаго или Грачанаго, оно в последствие трансформировалось в более благозвучное для русского языка термин Гречаный."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Понура?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Название реки Понура имеет тюркоязычное происхождение. Ещё в ХIХ и начале ХХ вв. реку на картах Кубанской области обозначали Кануръ, Конуръ или Кунуръ. Гидроним происходит, видимо, от тюркского сложного слова конур или кyнур, состоящего из двух кyн – «день», «солнце» и ур – «впадина», буквально означающего «солнечная впадина», в смысле «хорошо освещённая долина»."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Косатая?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Можно предположить, что топоним Косатая происходит от антропонима, образованного от слова косатый означающее «с косичками». Есть также фамилия Косатый, образована от прозвища, которое восходит к прилагательному косастый, то есть тот, у кого длинная коса или косы. Кроме этого, возможно, что Косатым называли косоглазого человека, со временем прозвище превратилось в фамилию Косатый."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Сула?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Быть может, гидроним Сула происходит от диалектного кубанского слова сула - судак (хищная рыба), данная версия не убедительна. Другое значение восточно-славянского слова сула, определяется как «болото» или «мокрое место». Видимо, как и большинство степных рек Кубани, рассматриваемый гидроним, имеет тюркское происхождение от слов су и лай, означающих соответственно «вода» и «глина, ил» или от слова сула переводимого как «поить, поливать»."
        }
      }]
    }
    </script>