<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает Кирпили?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Тюркоязычное слово кир (кер) - «грязь», которое в сочетании со словом ли - «река», может дать перевод гидрониму например «грязная (мутная) река», что характерно для некоторых степных рек."
        }
      }
    }
    </script>