<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Что означает название реки Бейсуг?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Гидроним Бейсуг имеет тюркоязычное происхождение и, вероятнее всего, состоит из двух слов бей- и -су, соответственно означающих «князь» и «вода» или «река». В большинстве публикаций предлагают перевод названия в следующем виде «Княжеская река» или «Князь воды», вероятно, в смысле «Главная река»."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Очеретовая Балка?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Термин очеретовая происходит от слова очерет – растение близкое по виду к камышу, собственно камыш, тростник, куга и тому подобное. Иногда очеретом называют растения семейства осоковых."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Журавка?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "На Кубань гидроним Журавка привнесён, по всей видимости, с Украины, слово журавка с украинского языка означает самка журавля. На Украине в Черкасской области Городищенский район есть речка Журавка. Там кроме указанной версии образования топонима Журавка, существует и другая версия его происхождения. Речка имела название Жур, производное от древнеславянского слова имеющего значение «грязная вода»."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Малёвана?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Видимо, в основе топонима Малёвана заложен антропоним Малёван. В кубанском диалекте слово малювать означает красить, расписывать, рисовать, которое могло быть производным для образования фамилии Малёваный или Малёван означающей «иконописец»."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Бузинка?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Возможно, топоним Бузинка образован от слова буза означающее «горькая соль», что, быть может, характеризует привкус воды речки в засушливое время или некоторых её родников (?). В кубанском говоре слово бузовый означает плохой, нехороший. Слово буза имеет и другое значение «бузовая земля», то есть добрая, чернозёмная, наземистая, что характеризует почвы, расположенные на берегах речки. Вероятна и ботаническая версия происхождения топонима Бузинка. На современном гербе и флаге станицы значатся плоды и листья бузины."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Бузинка?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Название речка получила, видимо, от переселенцев из станицы Незамаевской. Вероятнее всего, что название запорожского куреня Незамаевского происходит от диалектных слов нэзамайный или нэзамай, соответственно переводимых как «свободный» и «не трогай» или «не задевай». В первым варианте название будет выглядеть как «Свободный», а во втором название куреня будет звучать как предостережение «Не трогай!»."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Тарапанка?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Существует татарское слово торпах означающее «земля», ногайское слово топырак — земля, земляной или турецкое toprak - земля, которые могло стать основой гидронима Тарап + русское -анка, и тогда, название речки будет означать «Земляная». Речка, получающая грунтовое питание, то есть из земли, может получить название Земляная."
        }
      }]
    }
    </script>