<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Что такое Лагонаки?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Под названием Лагонаки понимается нагорье, горный узел обшей площадью около 700 км². Это природное образование принято так называть с 1984 г., обосновал и доказал это Сергей Павлович Лозовой. Нагорье объединяет в себе ряд плато, хребтов, долин рек, вершин."
    }
  }
}
</script>
