<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Что такое Большой Сочи?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Большой Сочи это муниципальное образование городской округ город-курорт Сочи, который входит в состав Краснодарского края. Он разделён на 4 внутригородских района: Адлерский, Лазаревский, Хостинский и Центральный (собственно город Сочи)"
    }
  }
}
</script>
