<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Person",
  "name": "Ковешников Виктор Николаевич",
  "jobTitle": "географ, краевед",
  "url": "https://viktor-dnk.ru/",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Краснодар",
    "addressRegion": "Краснодарский край",
    "postalCode": "350000",
    "addressCountry": "Россия"
  },
   "sameAs": [
     "https://twitter.com/thekubanology",
     "https://www.instagram.com/thekubanology",
     "https://www.pinterest.ru/thekubanology/",
     "https://t.me/toponim"
   ],
  "email": "dnk_v@list.ru",
  "birthDate": "1950-12-19"
}
 </script>
 <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://viktor-dnk.ru",
      "logo": "https://viktor-dnk.ru/img/example-logos/DOLMsq.png"
    }
    </script>
