<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает название Азовского моря?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Исследователи производят топоним Азов от тюркоязычных слов, означающих «нижний», «низкий», «устье реки». Предлагаются и версии - «конец», «малый». Вероятнее всего название термин Азов происходит от татарского словосочетания образованного словами аз от ас - «низ, нижнее пространство, нижняя часть» + ак - «течь, течёт», что в целом даёт перевод «нижнее часть течения»."
        }
      }
    }
    </script>