<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает Убин?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Коков Дж.Н. (1974 г.) и Меретуков К.Х. (2003 г.) пишут, что топоним Убын (Убин) не поддаётся этимологии. Но можно предположить, что это название связано с наличием здесь минеральных источников, которые называют Запорожскими. А почему так названы Запорожские источники? Видимо, как на реке Днепр за порогами располагалась Запорожская Сечь, так и на реке Убин за порогами находились минеральные источники. Поэтому их и назвали «за порогами», то есть Запорожские. А предположительный ответ о значении топонима Убин — есть."
        }
      }
    }
    </script>