<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находится река Догуако?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Река Догуако расположена в Майкопском районе Республики Адыгея, является левым притоком реки Белой. Её верховья находятся на южном склоне горы с абсолютной высотой 1230 м, расположенной в восточной оконечности хребта Гуама."
    }
  },{
    "@type": "Question",
    "name": "Что означает название реки Догуако?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Специалисты по ономастике предполагают, что гидроним Догуако переводится с автохтонного языка как «Короткая долина» (дэгъоу — коротко + къо — долина) или «Глухая долина» (дэгу — глухой + къо — долина)."
    }
  },{
    "@type": "Question",
    "name": "Почему Фелицын назвал дольмены Дегуакскими?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Фелицын Е.Д. исследовал группу дольменов на поляне по левую сторону реки Белой, при впадении в неё реки Дегуако. Он назвал группу Дегуакской по имени указанной речки, хотя на картах она значится как Догуако."
    }
  },{
    "@type": "Question",
    "name": "Сколько дольменов на Дегуакской поляне?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Фелицын Е.Д. на Дегуакской поляне насчитал до 140 дольменов, но предполагал, что их будет там более 200. Археолог Марковин В.И. здесь обнаружил остатки 140 памятников."
    }
  },{
    "@type": "Question",
    "name": "Какая протяжённость реки Догуако?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Догуако — небольшая речка протяжённостью около 10 км. Она впадает в реку Белую на абсолютных высотах около 460 м."
    }
  },{
    "@type": "Question",
    "name": "Правильно ли название Дыгоако?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Топонима Дыгоако нет ни на одной карте, опубликованной в ХIХ и ХХ вв. В первоисточниках речка значится как Догуако. Правильно записывать гидроним так, как это приводится на Российских картах — Догуако."
    }
  }]
}
</script>