<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает Мигута?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Название реки Мигута, является вторичным. Поэтому можно предположить, что гидроним Мигута, происходит например от антропонима, так как существуют фамилии Мигун, Мигута, Мигутин или Мигутский. Указанные фамилии, в основном, производят от прозвища, образованного от глагола мигать (моргать) или диалектного южно-российского слова мигушка - «зарница», «молния»."
        }
      }
    }
    </script>