<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=524809&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Что значит название станицы Каладжинской?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Есть мнение, что топоним состоит из тюркского слова къалэ - «крепость» и адыгского джинэ - «чёрт», что буквально переводится как «чёртова (дьявольская) крепость». В этом переводе есть неточность, так как чёрт по адыгски – шэйтан. Слово джынэ означает «злой дух», производное от арабского dzinn – «многоликий дух огня», в мифологии мусульманских народов. Эту версию перевода современного топонима можно обосновать опираясь на то, что в крепостях и укреплениях были пушки, которые извергали огонь. Так как пушки для местного населения в первой половине ХIХ в. были в диковинку и они их могли сравнивать с джином, а укрепление называли «Къалэ+джынэ», то есть «Крепость духа огня»."
    }
  },{
    "@type": "Question",
    "name": "Где находится станица Каладжинская?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Станица Каладжинская расположена на правом берегу реки Лаба немного ниже места слияния рек Большая и Малая Лаба. Основана станица в 1861 г. на месте Каладжинского укрепления (1853-1861 гг.), входящего в состав Лабинской кордонной линии. Название станица получила от укрепления. В конце 60-х начале 70-х годов ХIХ в. числилась посёлком Каладжинским. Но с 1829 по 1831 гг. в этом месте было ещё одно Каладжинское укрепление [20]. Станица сейчас входит в состав Лабинского района Краснодарского края РФ и является административным центром Каладжинского сельского поселения."
    }
  },{
    "@type": "Question",
    "name": "Что означает название реки Лаба?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "О происхождения гидронима Лаба, существует несколько мнений: от адыгейского личного имени Лабэ; от древнеиранского алб (альб) – «белый»; от индоевропейского алб - «течь» или лаба в значении – «река»; от древнетюркского лоп - «чудовище», «дракон»; от персидского лаб – «берег»; от ногайского лапас - «исток реки»; от абхазского лаба - «низинные пастбища»; на языке сванов (один из этносов Грузии) лабна - «источник». Есть также предположение, что название означает «свободная». В абазинском языке есть слово лаба, означает «самец у животных»."
    }
  }]
}
</script>