<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=542420&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Сколько населения в Краснодаре?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "По данным 2021 г. всего в Краснодаре численность населения в границах городского округа (со входящими в его состав сельскими населёнными пунктами) составляет 1 038 000 человек."
    }
  },{
    "@type": "Question",
    "name": "Когда Екатеринодар переименовали в Краснодар?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В 1920 г. Екатеринодар переименован в Краснодар."
    }
  }]
}
</script>
