<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Что означает название города Астрахань?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Поспелов Е.М. отмечает, что «Первое объяснение названия, сохранившее значение до настоящего времени, дал арабский путешественник Ибн Баттута (1333), который видел в названии словосочетание Хаджи-Тархан. Здесь хаджи - «паломник, благочестивец», получивший от султана тархан - «место, освобождённое от податей»."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Владикавказ?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Топоним Владикавказ образован от слов «Владеть + Кавказ». Такое авторитетное название «Владеть Кавказом» крепость получила неспроста, так как она располагалась в стратегически важном месте и блокировала вход и выход с Дарьяльского ущелья (Врата аланов) реки Терек."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Волгоград?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В основе современного названия ключевым словом является имя великой русской реки Волги, на правом берегу которой он расположен."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Грозный?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В 1818 г. на реке Сунжа правого притока реки Терек, строится Российская крепость под названием Грозная. Название крепости означает «могущественная» или «опасная для противника». Возникшее при крепости поселение с 1870 г., преобразовывается в город Грозный, так как к этому времени крепость утратила своё значение."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Краснодар?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Основан в 1793 г. как крепость под названием Екатеринодар, что буквально означает «Дар Екатерины». Название возникло не случайно и присвоено в честь Российской императрицы Екатерины II, так как град возник на землях, которые в 1792 г. были пожалованы Екатериной II Черноморскому казачьему войску в Вечное пользование. В марте 1920 г. Екатеринодар был освобождён Красной Армией от белогвардейцев, а в мае вся Кубанская область. Августовская попытка десанта генерала Врангеля на Кубань так же потерпела поражение. В знак благодарности Красной Армии в декабре 1920 г. город переименовывается в Краснодар, то есть «Дар красных», где элемент «красный» имеет символическое значение, соответствующее цвету революционного красного знамени, цвет которого определён по цвету крови, пролитой большевиками за свободу, в дальнейшем цвету государственного флага СССР."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Магас?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название города Магас производят с ингушского языка в значении «Город Солнца». Древний город Магас считают столицей Алании (X-XIII вв.). Точное место его расположения не установлено. Встречаются различные варианты его написания: М.К.С., Макас, Магас и другие. Этимология названия Аланской столицы имеет различные варианты перевода. К наиболее достоверной относят скифско-аланскую версию в значении «Большой». С санскрита топоним Магас переводят как «Жрецы Солнца». Интересна также адыгская этимология названия Магас от кабардинского топонима Махагапс. Топоним состоит из двух слов «день» + «настраивать (нацеливать)», то есть значение названия заключается в том, что в этом месте определяется (предсказывается) погода на день, так как оно приподнято над окружающей местностью."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Майкоп?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Перевод топонима Майкоп имеет спорный характер. Сложность его этимологии в том, что не ясно какой объект изначально им был назван и существует ряд версий его образования с различной этимологией. Вероятнее всего, топоним Майкоп происходит от арийского (синдо-меотского) слова maiankap и переводится как «гора материнских» или «гора меотов»."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Махачкала?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Среди горцев город был более известен под названием Анджи-Кала, буквально означает «Мучная крепость». С 1918 по 1920 г. город назвали Шамиль-Кала в память о народном герое имаме Шамиле (1797-1871 гг.). В 1921 г. город вновь назван Петровск. В 1922 г. город переименован в Махачкалу. Название состоит из двух слов Махач+кала, в первой части названия антропоним, по-видимому, псевдоним одного из организаторов Советской власти в Дагестане Магомеда Али Дахадаева (1882-1918 гг.). Предполагают что псевдоним Махач это сокращённая версия имени Магомед, кала – «город»."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Нальчик?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "С кабардинского и черкесского языка гидроним Нальчик переводят как «Маленькая подкова». Некоторые пытаются связать название реки с наличием в месте образования поселения меандр, то есть изгибов русла реки похожих на «маленькую подкову». По другой версии название «Подкова» связывают с горными хребтами, расположенными полукругом вдоль русла реки и, следовательно, у крепости. Привлекают также к этимологии топонима Нальчик и кабардино-балкарское слово налцыч (налшычь) - «срывающий подкову» - из-за вязкой грязи в пойме реки, вероятно, это переосмысление. Нальчик также переводят с кабардино-балкарского как «Подкова». История названия города остаётся неясной. По-видимому, значение топонима следует понимать символически, поскольку подкова является предметом, приносящим удачу, благополучие, изобилие жилищу. В связи с чем, подкова стала основной составляющей герб города."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Ростов-на-Дону?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "По одной из версий, в основе географического названия Ростов видят мужское имя Рост (от Ростилова), но такое имя не встречается в письменных источниках. Возможно, что в основе названия лежит прилагательное ростов впоследствии ростовый, в значении «самый удобный, самый благоприятный и прочее». По данным Дёмина В.Н. Ростов Великий (город Ростов в Ярославской области) был основан намного раньше, чем его первое упоминание в летописи (862 г.). Он первоначально именовался крепостью Россов Стан, то есть название связано с древним этнонимом россов (руссов), который является словообразующим и в названии города Ростов-на-Дону. Вторая половина названия города Дон – река, на берегу которой расположен город, имеет скифские корни, означающее «Река»."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Севастополь?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название города Севастополь происходит от древнегреческих слов себастос - «высокочтимый, священный» и полис — «город», что означает «Священный город»."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Симферополь?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название города состоит из древнегреческих слов симферо - «собирать, соединять» или «быть полезным, приносить выгоду» и полис — «город». Полностью название города переводится как «Город пользы», «Город-собиратель» или буквально «Всё несу». До этого город имел татарское наименование Акмечеть, где ак - «белый» и мечеть — мусульманский храм."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Ставрополь?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Топоним отражает распространённую в Российской империи в конце ХVIII в. моду присваивать новым городам псевдо греческие названия с элементом поль – «город», например, Севастополь, Симферополь и другие. Топоним Ставрополь переводится как «Город Креста». Существуют предположения, почему город получил такое название: по преданию на месте закладки крепости был найден крест; название перенесено с другого поселения, оно называлось город Святого Креста, удалённый на 175 км почти на восток от города Ставрополь. Вторая версия не аргументирована, так как город Святого Креста был учреждён в 1799 г., то есть на два года позже, чем крепость Ставрополь."
    }
  },{
    "@type": "Question",
    "name": "Что означает название города Элиста?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Ойконим Элиста получил название от гидронима. В основе названия речки или балки калмыцкое слово элстя (элст) – «песчаный», так как один из склонов берега был песчаный — элст. С 1865 г. Элиста считается село, с 1918 г. центр Элистинского уезда, каким оставался и после создания Калмыцкой автономии, которая была провозглашена в 1920 г. С 1930 г. Элиста получает статус города. С 1935 г. – столица Калмыкии. В 1944 г. город переименовывается в Степной. В 1957 г. восстановлено историческое название города Элиста."
    }
  }]
}
</script>
