<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=577380&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Почему река Березовая, а станица Березанская?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "На Кубани связывают с названием дерева берёза два топонима река Березовая и станица Березанская. Почему река названа Березовая? Географы решили проверить, есть ли на речке берёзы. Никаких берёз не оказалось. Речка протекает в глухих местах, в основном густо поросших пихтовым лесом с примесью бука и, как многие горные речки Кавказа, была лазурной, бирюзовой. Это породило законную догадку: очевидно местные жители исказили название «Бирюзовая», сохранив всё же красочный оттенок в ударении «Березовая». Но и такое предположение было ошибочным». И название станицы Березанской не связано с названием дерева берёза."
    }
  }
}
</script>