<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает Челбас?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Название реки многие исследователи производят от тюркоязычного топонима Челбасу, состоящего из слов челба и су, означающих «ковш воды», видимо, в значении «мелководная» или «маловодная»."
        }
      }
    }
    </script>