<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=542461&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp1").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather1").append(t+", "),$("#weather1").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=696643&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp2").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather2").append(t+", "),$("#weather2").append(" "+Math.round(e)+"ºC и ",t)}));
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает название станицы Полтавской?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Станица Полтавская получила название от Полтавского куреня Черноморского казачьего войска, курень был назван от города Полтава. Полтава была основана в ХI в., как древнерусский укреплённый город в составе Переяславского княжества (ХI-ХIV вв.)."
        }
      }
    }
    </script>