<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Херота или Хорота?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название небольшой речки Херота знакомо многим, кто проезжал по шоссе ведущего из Адлерского аэропорта в Сочи-Центр. Так речка значилась на картах не менее 160 лет. Но последние лет десять эта, мало чем приметная речушка, стала «героиней» новостных сайтов интернета. И всё потому что название сочли неблагозвучным. После этого начались поиски исторического названия речки, выбрали топоним Хорота. «Буря в стакане» закончилась переименованием речки. Но в ХIХ в. она называлась по-разному Хирота, Хорота, Хуарота, Ххрота, Херота, что подтверждается документально."
    }
  }
}
</script>