<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": {
      "@type": "Question",
      "name": "Что означает название Ангелинский ерик?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Современный топоним состоит из двух частей Ангелин- и русского окончания -ский. Существует несколько версий этимологии названия ерика. Например его производят от женского имени Ангелина, от черкесского слова агъэлы или от прилагательного английский и другие."
      }
    }
  }
  </script>