<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Что означает название реки Овечка (Большая Козьма)?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Это небольшая и типично степная речка, с медленным (тихим) течением и в этих местах в ХIХ в. было развито овцеводство. В ногайско-русском словаре есть словосочетание казба йол — ухабистая дорога. В татарско-русском словаре есть простонародное слово казма — кирка, лом. Ногайское слово каз означает «рыть, копать». Поэтому название равнины Казма можно перевести как «Обрабатываемая (земля)»."
        }
      },{
        "@type": "Question",
        "name": "Что означает Бечуг?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Возможно, название происходит от адыгского словосочетания бэ-цу - означающее «много волов» или от кабардино-черкесского слова бэтэх - «кочковатое место», «неровная низина». Быть может, топоним происходит от тюркоязычного слова бальчуг - «грязь, болото»"
        }
      }]
    }
    </script>