<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "Что означает название реки Албаши?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Название реки Албаши по разным версиям может означать «Пёстрые истоки» или «Разноцветные верховья»"
      }
    },{
      "@type": "Question",
      "name": "Характеристика реки Албаши",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Албаши степная река, а отсюда и её характеристики. Река имеет медленное течение, которое в период снеготаяния увеличивается, а в период межени замедляется. В летний период в верховьях она пересыхает. Среднегодовая скорость течения реки Албаши составляет 0,1 м/сек. В русле реки сделано много земляных дамб, для сохранения воды, которую в основном используют для полива. В запрудах образуются небольшие водоёмы, которые могут использовать для выращивания водоплавающей птицы (гуси, утки), в советский период истории России это повсеместно практиковалось. Также запруды могут использоваться для выращивания рыбы или для зарыбления. До революции на дамбах степных реках сооружали водяные мельницы. Но запруды, то есть дамбы играют и отрицательную роль: преграждается путь движения рыбы на нерест, что значительно уменьшило рыбные ресурсы; в прудах замедляется течение воды в реке и она заиливается, то есть мелеет и зарастает превращаясь в плавни (болото)."
      }
    }]
  }
  </script>