<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=504391&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Что означает названия станиц Бесленеевской и Хамкетинской?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Закубанские станицы Бесленеевская и Хамкетинская были основаны в 60-х годах ХIХ в. на последнем этапе Кавказской войны и числились как казачьи. Их название производят от именами автохтонных племён, проживавших здесь, что на самом деле не совсем так. В тексте приводится также подробное описание ущелья Ирисъ и даётся его этимология. Кроме того делается попытка дать перевод названия речки Лакруш и ручья Абшехвира, и уточняется кто из них «главнее». А также описывается  хребет Герпегем, входящий в систему Скалистого хребта Большого Кавказа."
    }
  }
}
</script>