<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Что означает название реки Челбас?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название реки Челбас, вероятнее всего, происходит от тюркоязычного словосочетания, имеющего значение «степные верховья»."
    }
  },{
    "@type": "Question",
    "name": "Какая длина реки Челбас?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Длина реки Челбас составляет около 287 км. Если считать длину от истоков до места впадения Челбасского Гирла в Бейсугский лиман, то она составит около 300 км."
    }
  },{
    "@type": "Question",
    "name": "Почему станица Тихорецкая так называется?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Станица Тихорецкая (сейчас Фастовецкая) основана в 1829 году на реке Тихонькой и названа от неё. Название означает «Тихая речка», образовано от уменьшительно-ласкательного слова «тихий»."
    }
  },{
    "@type": "Question",
    "name": "Что означает название реки Тихонькая?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название реки Тихонькая образовано от уменьшительно-ласкательного слова «тихий» и имеет значения: спокойный, безмятежный, обладающий небольшой силой звучания."
    }
  },{
    "@type": "Question",
    "name": "От чего произошло название речки Платава?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Гидроним Платава или Плотава, скорее всего, образован от народного географического термина «плота» — лог, балка. Древнерусское слово «плоский» означает широкий, ровный, пологий. Маловероятно, что речка названа фамилией атамана Платова."
    }
  },{
    "@type": "Question",
    "name": "Почему некоторые притоки Челбаса называются Водяная?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В названии Водяная заложен народный смысл о постоянном водотоке в этих речках, то есть «содержащая воду». Это не пересыхающие речки, в долине которых есть постоянные родники со значительным дебитом в течение всего года."
    }
  }]
}
</script>