<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находится гора Папай?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Массив горы Папай административно находится на стыке границ муниципальных образований Краснодарского края Абинского и Северского районов, и городского округа Геленджик. Вершина Главного Папая, то есть собственно гора Папай, которая обозначена на картах находится в Северском районе. На северном склоне массива, находятся истоки рек Убин и Большой Хабль (бассейн реки Кубань), а на южном, истоки реки Папай правый приток реки Пшада (Черноморский бассейн)."
    }
  },{
    "@type": "Question",
    "name": "Что значит Папай?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "У скифов был культ многобожия и наряду с матриархальными богинями природы существовал и патриархальный культ предка-родоначальника. Одним из почитаемых божеств был небесный бог Папай, они его считали своим отцом и верховным богом."
    }
  }]
}
</script>
