<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Где находятся Джельтмесские высоты?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Гора Джельтмесские Высоты (921,1 м), расположена на водоразделе бассейнов рек Лаба и Уруп. Гора является высшей точкой средневысотного горного массива, вытянутого с запада на восток, который расположен между станицами Отрадная на востоке и Каладжинская на западе. Плато имеет в профиле дугообразную форму, вытянуто примерно на 50 км с востока на запад и с севера на юг приблизительно на 30 км, и имеет площадь около 1200 кв. км. Ниже абсолютных высот 200 м плато переходит в наклонную Закубанскую равнину. Собственно гора Джельтмесские Высоты административно находится на территории Отрадненского района."
    }
  }
}
</script>
