<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "Что означает название хутора Жёлтые Копани?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Вторая часть топонима происходит от слова копань — яма, вырытая для скопления дождевой воды, на Кубани неглубокий ямный колодец, без сруба или обкладки. По значению первой части этого составного топонима Гагай Г.П. приводит данные, что «… в 1918 г. хутор был переименован в Жёлтые Копани, так как в этом районе нашли залежи жёлтой глины. До начала коллективизации в хуторе работал маленький заводик по производству красного кирпича …»"
      }
    },{
      "@type": "Question",
      "name": "Что такое хутор?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Хутор — обособленный земельный участок с комплексом жилых и хозяйственных построек владельца."
      }
    },{
      "@type": "Question",
      "name": "Что такое зимовник?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Зимовник - разновидность хутора у черноморских и донских казаков, а также зимнее помещение для животных, проводящих лето на пастбище."
      }
    }]
  }
  </script>