<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Что означает Коцехур?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Можно предположить, что топоним состоит из адыгейских слов къо - «кабан», цэ - «зуб», «клык», хур или гур - «твёрдый», тогда Къоцэхур (Къоцэгур) может означать «Твёрдый клык кабана»."
        }
      },{
        "@type": "Question",
        "name": "Что означает Тхаб?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Возможно, название происходит от словосочетания Тхьабэ, где адыгские слова тхьа - «бог» и бэ - «много, множество», дают перевод как «Многобожье»."
        }
      }]
    }
    </script>