<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает название реки Ея?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Название реки Ея, производят от арабского слова عاجز (eajiz) — «бессильный, беспомощный», также производит название реки от тюркоязычного слова яйла — «летнее пастбище». Можно предложить и греческую версию образования гидронима Ея от слова eja – «путь» или «ход»."
        }
      }
    }
    </script>