<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=491422&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Что такое пассиваная защита берегов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "При пассивной защите укрепление берега осуществляется волнозащитными сооружениями, гасящими энергию волн непосредственно своей конструкцией. Сюда относятся продольные берегоукрепительные стенки и сооружения откосного и ступенчатого типов, а также береговые дамбы."
    }
  },{
    "@type": "Question",
    "name": "Что такое активная защита берегов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "При активной защите возводятся сооружения, которые в значительной степени гасят энергию волн на подходе к берегу. А берег укрепляется сооружениями, задерживающими наносы, в результате чего перед этим участком берега образуется защитная полоса пляжа, на котором происходит разрушение волн, подходящих к берегу. К числу активных способов защиты относят поперечные буны и продольные волнолом"
    }
  },{
    "@type": "Question",
    "name": "Что такое «буны» и «волноломы»?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Буны представляют собой сооружения, расположенные перпендикулярно или под углом к берегу, возвышающиеся над поверхностью воды. Назначение бун — преградить путь движению вдольбереговых наносов и способствовать таким образом расширению пляжа, накапливающегося в межбунных пространствах. Волноломы представляют собой подводные преграды, расположенные параллельно берегу, на некотором расстоянии от него. Главное их назначение — удержание наносов от перемещения в сторону больших глубин. Они обычно сооружаются в комбинации с бунами. При защите берега используются обе группы, как активную, так и пассивную."
    }
  }]
}
</script>
