<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает Тимашёвск?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "На Кубани название куренное селение получило от запорожского куреня Тымошивськый, так его называли казаки, современное написание этого названия будет выглядеть как Тимошивський. Возможно, курень назван в честь запорожского полковника Тимоша, который в 1731 г. действовал со своим войском под Хотином (город на реке Днестр)."
        }
      }
    }
    </script>