<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Что означает название р. Синюха?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Географические название Синюха (Синявка) – украинское диалектное слово, означает «трясина, топь, лужа,
    стоячая вода»."
        }
      },{
        "@type": "Question",
        "name": "Что означает название р. Грязнуха?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Гидроним Грязнуха, происходит от древнерусского слова грязь – первоначально означающее болото, топь. Видимо, говоря о таких реках с медленным течением, подразумевались топкие или болотистые берега."
        }
      }]
    }
    </script>