<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает название реки Кочеты?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Многие ошибочно считают слово кочет украинским, но по-украински петух пишется по иному «пивень», «когут» или «курий». Название реки Кочеты, как и большинство названий рек Кубанских степей, имеет тюркские корни."
        }
      }
    }
    </script>