<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/weather?id=484670&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.main.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(" "+t+", ",Math.round(e)+"ºC")}));
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "Что такое Тмутаракань?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Тмутаракань в русской разговорной речи, ассоциируется с чем-то далёким и не известным, сродни выражению «за семью морями», то есть очень далеко, иногда это синоним слову «глушь». Этот топоним в русских летописях упоминается в зоне дельты реки Кубань в IХ-ХII вв. и в XVI в. в низовьях реки Волга, где расположен город Астрахань и в других местах Руси."
      }
    }, {
      "@type": "Question",
      "name": "Что означает Тамань?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Название полуострова Тамань производят и от адыгских слов: адыгейского слова темэн – «болото» или черкесского темен – «болото». Таманский полуостров окружён заливами, лиманами и озёрами, соединёнными ериками. Образование, от совпадающих по звучанию адыгских слов темен или темэн, топонима Тамань, по-видимому, является переосмыслением."
      }
    }]
  }
    </script>