<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Что означает название реки Вулан?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Бассейн реки Вулан расположен на территории городского округа Геленджик Краснодарского края. Гидроним Вулан в зафиксированном виде не переводится. Ошибочны утверждения, что река Вулан называлась Чебсин и версия, что топоним происходит от этнонима аланы. Предполагают, что в основе топонима Вулан турецкое слово ялан - «ложный, лживый». Можно предположить также, что гидроним Вулан образован от индо-европейского слова valana, означающего «круговое вращение» или «поворот»."
    }
  }
}
</script>
