<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Что означает название реки Уруп?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Можно высказать следующую версию, что гидроним Уруп возник в скифское-аланское время и в основе его названия имя мифического иранского царя Тахма-Урупа (Урупи). Имя Урупа трактуется по разному: как производное индоевропейского слова лупе - «волк», «лисица»; от имени Апро (сравните скифское имя Апросай); либо означает «лукавый», «чародей». Но это только предположение."
        }
      },{
        "@type": "Question",
        "name": "Что означает название реки Кува?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Ионова С.Х. (1992 г.) отмечает, что топоним Кува это русский вариант произношения абхаза-абазинского слова хъвжвы (кужи) – «рододендрон». Или русское Кува, соответствует абазинскому сложному слову Хъвыжвду, которое состоит из слов хъвы – «гора, скала», жв – «древний, почитаемый» и ду – «большой, высокий», что означает «Большая почитаемая гора (скала)». Сейчас топоним немного упрощен и выглядит как Хъвыжв, то есть Кува, что означает «Почитаемая гора»."
        }
      }]
    }
    </script>