<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что означает название станицы Полтавской?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Станица Полтавская получила название от Полтавского куреня Черноморского казачьего войска, курень был назван от города Полтава. Полтава была основана в ХI в., как древнерусский укреплённый город в составе Переяславского княжества (ХI-ХIV вв.)."
        }
      }
    }
    </script>