<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Что означает названия станиц Бесленеевской и Хамкетинской?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Закубанские станицы Бесленеевская и Хамкетинская были основаны в 60-х годах ХIХ в. на последнем этапе Кавказской войны и числились как казачьи. Их название производят от именами автохтонных племён, проживавших здесь, что на самом деле не совсем так. В тексте приводится также подробное описание ущелья Ирисъ и даётся его этимология. Кроме того делается попытка дать перевод названия речки Лакруш и ручья Абшехвира, и уточняется кто из них «главнее». А также описывается  хребет Герпегем, входящий в систему Скалистого хребта Большого Кавказа."
    }
  }
}
</script>