<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {
    "@type": "Question",
    "name": "Что означает топоним Китай на картах Кубани?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В Краснодарском крае и Республике Адыгея на картах, значатся два географических названия образованных от редкого для Кубани слова — китай. К ним относятся названия горы Китай-Гора и речки Китайка, оба географических объекта находятся в горной зоне. Наименования, видимо, возникли по аналогии с названием Китай-города в Москве. Топоним Китай-город не имеет отношения к названию государствa Китай, так как есть устаревшее русское слово кита (китай) одно из значений которого «укрепление» или «укреплённое место», «изгородь». Но это только одна из версий!"
    }
  }
}
</script>
