<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Кто строил дольмены?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Есть исследователи, которые считают, что строителями дольменов был автохтонный этнос, то есть местный, и даже относящийся к северо-западной языковой семье Кавказа. Другие исследователи полагают, что строители дольменов пришли или приплыли с других местностей, принеся с собой технологии возведения мегалитических сооружений. Существует также устойчивая версия, что дольмены построены туземным населением Кавказа, которое относилось к индоевропейской языковой семье. Кто же был, на самом деле, строителем дольменов — пришельцы, которые за тысячелетия стали аборигенами Западного Кавказа или туземцы, которые уже здесь проживали? За период изучения дольменов возникло несколько версий о конкретном имени этноса строившего дольмены."
        }
      }
    }
    </script>