<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": {
      "@type": "Question",
      "name": "Какие типы дольменов встречаются на северо-западном кавказе?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "На северо-западном Кавказе встречаются плиточные, портальные, плиточные без отверстия, корытообразные, полумонолитные, дольмены-монолиты, составные, ложнопортальные, дольмены заключённые в башни, мегалитические гробницы, колодцеобразные составные плиточные гробницы, пещерные гробницы."
      }
    }
  }
  </script>