<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Для чего строили дольмены?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Ответ на вопрос — для чего строились дольмены, не однозначен, как кажется на первый взгляд. Чтобы определится с ответом на вопрос, поставленный в этом очерке, видимо, следует, рассмотреть вероятные и невероятные предположения, о том, для чего строились мегалитические сооружения – дольмены. Однозначного ответа на этот вопрос автор пока дать не может, т.к. есть и другие взгляды, мнения и предположения. Попытаемся среди множества ответов на этот вопрос, найти правдивые, которые могут оказаться истинными. Предположения приведены в произвольной последовательности."
        }
      }
    }
    </script>