<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Как строили дольмены?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Из чего и как строили дольмены? Ответ на это, важен и не однозначен, так как на Западном Кавказе дольмены строили из разных горных пород. В зависимости от свойств горной породы, менялись и технологии создания дольменов, формировались их конструктивные особенности и зависела долговечность каменного сооружения. Не во всех публикациях о дольменах, найдёшь ответ на этот вопрос, а зачастую он вообще не освещается. В публикациях о дольменах, как правило, в основном акцентируется внимание на вопросах, которые в них, остаются без ответов, как не разрешимая тайна."
        }
      }
    }
    </script>