<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Почему прекратилось строительство дольменов?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Традиция строить дольмены на Западном Кавказе из больших обработанных камней, возникла примерно 5 тыс. лет назад. «К концу 2 тыс. до н.э. строители дольменов полностью растворились среди окружающих племён» и прекращается строительство мегалитических сооружений. «К сожалению, точно определить время заката дольменной культуры пока не представляется возможным. Можно только предполагать, что примерно в 1400-1300 гг. до н.э. их перестали строить, причём строительство дольменов раньше прекращается на территории современной Абхазии, а затем в Прикубанье». «Однако в одном месте Северного Кавказа, в верхней части долины реки Большой Зеленчук, левый приток реки Кубань, дольмены строились и в самом конце 2 тыс. до н.э.». Здесь они были обнаружены в долине реки Кяфар. В пределах Краснодарского края дольмены позже середины 2 тыс. до н.э. уже не строились."
        }
      }
    }
    </script>