<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": {
        "@type": "Question",
        "name": "Что такое дольмен?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Дольмены это сооружения, сделанные из поставленных вертикально каменных плит или сложенных из блоков различных горных пород (песчаник, известняк, сланец, мергель, конгломерат, туф и туффит), пригнанных плотно друг к другу насухо, разнообразных по размерам, в форме полого куба, цилиндра, прямоугольного параллелепипеда, усечённой четырёхугольной пирамиды и прочее, и перекрытых каменной плитой или плитами. В одной из стенок этих сооружений, как правило, сделано небольшое отверстие, различной формы, размером от 30 до 40 см, закрываемое подогнанной каменной пробкой или плитами. Лавров Л.И. дольмены ещё называл склеповыми сооружениями с циклопической кладкой. Эти сооружения отнесены к памятникам археологии, которые ещё называют мегалиты."
        }
      }
    }
    </script>