<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Какие генетические исследования проводились на останках из дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Проводился анализ митохондриальной ДНК, выделенной из человеческих останков дольменного памятника Шушук. Исследование опубликовано на V (ХХI) Всероссийском археологическом съезде в Барнауле, 2017 г. Авторами являются Шарко Ф.С., Булыгина Е.С., Цыганкова С.В., Резепкин А.Д., Недолужко А.В."
    }
  },{
    "@type": "Question",
    "name": "Какие митохондриальные гаплотипы найдены в дольменах?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В дольменах найдены следующие митохондриальные гаплотипы: U5a1b1, J1b1a1, R7a'b, M8/N, G1b. Эти данные получены из останков скелетов в дольменах № 5, 6, 9, 10 памятника Шушук."
    }
  },{
    "@type": "Question",
    "name": "Что показали исследования древнего генома на Кавказе?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Данные древнего человеческого генома за 3000-летний интервал на Кавказе соответствуют экогеографическим регионам. Исследование опубликовано в журнале Nature Communications от 4 февраля 2019 г., номер статьи 590 (2019)."
    }
  },{
    "@type": "Question",
    "name": "Где находится дольменный памятник Шушук?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольменный памятник Шушук расположен на Западном Кавказе. Из человеческих останков этого памятника выделяли митохондриальную ДНК для генетических исследований строителей дольменов."
    }
  },{
    "@type": "Question",
    "name": "Какая связь между дольменной культурой и генофондом народов Кавказа?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Исследования генофонда абхазо-адыгских народов, грузин и армян в Евразийском контексте проводились Теучеж И.Э., Почешхова Э.А., Схаляхо Р.А. и другими. Публикация в журнале Антропология № 2: 49–62, Вестник Московского университета, М., 2013."
    }
  },{
    "@type": "Question",
    "name": "Какие районы концентрации кубанских дольменов существуют?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Районы концентрации кубанских дольменов исследовались Ковешниковым В.Н. Публикации о районах концентрации дольменов представлены в материалах IХ Твердовских чтений, Краснодар, 2017, и в коллективной монографии «Краеведение на Кубани: проблемы, поиски, решения», выпуск 1, Краснодар, 2017."
    }
  }]
}
</script>