<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находятся дольмены у села Хамышки?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмен у северной окраины села Хамышки расположен в долине реки Белой в Республике Адыгея. Это корытообразный (полумонолит) дольмен с петроглифами на западной стене погребальной камеры."
    }
  },{
    "@type": "Question",
    "name": "Что такое Цербелевы поляны?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Урочище Цербелевы поляны располагается у юго-восточного подножья хребта Азиш-Тау на абсолютных высотах 900-1200 м и охватывает площадь около 17 км². Поляны прерываются участками леса, где преобладает бук, пихта, граб и дуб."
    }
  },{
    "@type": "Question",
    "name": "Сколько дольменов у посёлка Гузерипль?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "У посёлка Гузерипль известно три дольмена. Два находятся на территории Кавказского государственного заповедника на правом берегу реки Белой. Третий расположен на левом берегу реки Белой, он разрушен и вероятно был сделан из плит."
    }
  },{
    "@type": "Question",
    "name": "Какие размеры у Гузерипльского дольмена № 1?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Гузерипльский дольмен № 1 был окружён кромлехом диаметром 12 м. Передняя плита имеет высоту 2,1 м, ширину у основания 2,45 м. Погребальная камера: ширина в передней части 3,7 м, длина 2,46 м, ширина в задней части 2,67 м."
    }
  },{
    "@type": "Question",
    "name": "Где находится дольмен у посёлка Каменномостский?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмен находится у северной окраины посёлка Каменномостского, недалеко от западной обочины шоссе, ведущего из Майкопа. К дольмену следует идти в северо-западном направлении вдоль окраины сада, примерно 150 м от шоссе."
    }
  },{
    "@type": "Question",
    "name": "Как подготовиться к экскурсии к дольменам?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Для экскурсии лучше воспользоваться услугами проводника, знающего маршрут. Обувь не должна быть пляжной или на каблуках, лучше иметь кроссовки или ботинки для гор. К некоторым дольменам придётся пройти не менее 5 км."
    }
  }]
}
</script>