<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Почему дольмены требуют уважительного отношения?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены должны по-прежнему возвышаться, украшая пейзаж. Они требуют глубочайшего уважения к себе. Их строили люди без особых приспособлений и машин. Каждый дольмен, даже самый маленький — это подвиг человеческого ума, показатель высочайшего мастерства и интуитивного чувства, что это сделано их руками и на века."
    }
  },{
    "@type": "Question",
    "name": "Как сохранить дольмены для будущих поколений?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Даже после научно проведённых раскопок, дольмены должны по-прежнему возвышаться, украшая пейзаж. Необходимо бережное отношение к памятникам археологии, запрет на вандализм и разрушение. В некоторых районах, например в городском округе Геленджик, реконструируют дольмены и отливают из бетона современные копии древних мегалитов в доступных местах."
    }
  },{
    "@type": "Question",
    "name": "Кому будет полезна информация о дольменах?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Издание адресовано широкому кругу читателей: путешественникам, учащейся молодёжи, археологам, географам, историкам, краеведам, туристским фирмам, экскурсоводам, педагогам, преподавателям и учителям. Также заинтересует желающих разгадать тайны древней истории России."
    }
  },{
    "@type": "Question",
    "name": "Из чего состоит публикация о дольменах?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Публикация состоит из двух взаимосвязанных частей: 1-я — о культуре строителей дольменов; 2-я — путеводитель к памятникам этой древней культуры, где рассказывается и о самых доступных для посещения дольменах. Текст сопровождается редкими рисунками и фотографиями."
    }
  },{
    "@type": "Question",
    "name": "Какие дольменные группы самые крупные на Кубани?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Кизинская группа в Мостовском районе Краснодарского края насчитывала 564 дольмена. Дегуакская группа в Майкопском районе Республики Адыгея по данным Фелицына Е.Д. насчитывала не менее 140 дольменов, он допускал, что их там более 200."
    }
  },{
    "@type": "Question",
    "name": "Кто исследовал дольмены Западного Кавказа?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены исследовались Фелицыным Е.Д., Марковиным В.И., Трифоновым В.А., Геем А.Н., Резепкиным А.Д., Лавровым Л.И. и другими археологами. История изучения дольменов началась летом 1818 г. с деятельностью французского исследователя Тэбу де Мариньи."
    }
  }]
}
</script>