<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Что такое дольмены Западного Кавказа?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены — это сооружения из больших камней, которые среди рукотворных строений на территории Кубани являются древнейшими. Эти каменные сооружения разнообразны по форме и размерам, сделаны из монолитных глыб, плит или блоков различных горных пород, пригнанных плотно друг к другу насухо в форме полого куба, цилиндра, усечённой пирамиды и пр."
    }
  },{
    "@type": "Question",
    "name": "Сколько дольменов зафиксировано на Западном Кавказе?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Называют разные цифры – сколько сейчас зафиксировано дольменов на территории Западного Кавказа. Она составляет около 3000 штук, большинство из них разрушено. Вероятно, что здесь их было сооружено не менее 7000, археологом Трифоновым В.А., называется и большая цифра около 10 000."
    }
  },{
    "@type": "Question",
    "name": "Где расположены дольмены на Кубани?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены Западного Кавказа располагаются довольно компактно, в основном, на территории Российской Федерации в пределах Краснодарского края и Республики Адыгея, и частично за границей в Республике Абхазия. На Черноморском побережье Кавказа они занимают участок, начиная от полуострова Абрау (РФ) до города Очамчира (Абхазия), протяжённостью почти 450 км."
    }
  },{
    "@type": "Question",
    "name": "Когда началось изучение дольменов Западного Кавказа?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "История изучения дольменов Западного Кавказа началась летом 1818 г. с деятельностью французского исследователя и коммерсанта Тэбу де Мариньи, который в 1818 г. описал несколько дольменов в долине реки Пшада. А в 1821 г. он опубликовал описание своего путешествия в Черкесию."
    }
  },{
    "@type": "Question",
    "name": "Какие основные вопросы изучают исследователи дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Изучение дольменов Западного Кавказа длится 200 лет. При этом всегда возникали в основном три вопроса: когда строили? зачем строили? и кто строил? В целом, эти вопроса взаимосвязаны, а также они инициируют и такие вопросы: как строили? почему прекратили строить дольмены?"
    }
  },{
    "@type": "Question",
    "name": "Где ещё в мире встречаются дольмены?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Кроме Западного Кавказа, традиция строить сооружения из больших камней распространена по Евразийскому континенту от берегов Атлантического океана до берегов Тихого и Индийского океанов, а также в северной части Африки. В России дольмены ещё зафиксированы в Крыму и на Урале. На западном берегу Чёрного моря также обнаружены дольмены в Болгарии и Турции. В Закавказье дольмены есть в Армении и Грузии."
    }
  }]
}
</script>