<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находятся дольмены в долине реки Пшенахо?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольменные группы Псынако расположены в верхнем течении реки Пшенахо в Туапсинском районе. Через 9,5 км от села Анастасиевка расположено урочище Третья Рота, здесь размещается дольменная группа Псынако 6, в которой насчитывается 6 дольменов."
    }
  },{
    "@type": "Question",
    "name": "Что такое урочище Третья Рота?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Топоним урочище Третья Рота возник в конце Кавказской войны, в 60-х годах ХIХ в. В этом названии указывается номер одной из рот Даховского отряда, который возглавлял генерал Гейман В.А. (1823-1878 гг.). Здесь расположена дольменная группа Псынако 6."
    }
  },{
    "@type": "Question",
    "name": "Какой маршрут к дольменам в Туапсинском районе?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Мегалитический маршрут: город Туапсе — долина реки Туапсе — гора Богатырка — село Анастасиевка — верхнее течение реки Пшенахо — перевал Пихтовый — верховья реки Мал. Наужи — перевал Кубыши — аул Большое Псеушхо — аул Малое Псеушхо — село Георгиевское."
    }
  },{
    "@type": "Question",
    "name": "Сколько дольменов в группе Псынако 6?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В дольменной группе Псынако 6, расположенной у урочища Третья Рота, насчитывается 6 дольменов. Эту группу называют — дольмены урочища Третья Рота. Абсолютная высота русла реки Пшенахо у урочища составляет около 300 м."
    }
  },{
    "@type": "Question",
    "name": "Где находятся дольмены у реки Псинеф?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "У местечка Адигналово на левом берегу р. Псинеф (Пшенахо) на Вьючной горе в 1967 г. зафиксированы три плиточных дольмена. Фасад одного из них декорирован выпуклостями. Материал — песчаник. Эти дольмены находятся напротив урочища Третья Рота."
    }
  },{
    "@type": "Question",
    "name": "Как нумеруются дольменные группы Псынако?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "От дольменной группы Пшенахо 3 и далее вверх по долине, для упорядочения информации, даётся нумерация и название дольменных групп, предложенная исследователем Косолаповым В.В. в 2011 г. Порядковый номер групп установлен в последовательности снизу вверх по течению — Псынако 1, Псынако 2, Псынако 3, Псынако 4 и так далее до истоков реки."
    }
  }]
}
</script>