<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Что означает термин дольмен?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Термин дольмен состоит из кельтских (бретонских) слов tol – «стол» и men – «камень» и буквально означает «стол каменный». Т.е. слово дольмен переводится как «каменный стол», этим термином в российских исторических дисциплинах с середины ХIХ в., общепринято называть памятники археологии."
    }
  },{
    "@type": "Question",
    "name": "Почему дольмены называют мегалитами?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Термин мегалит стал использоваться в науке в середине ХIХ в. и происходит от греческих слов megas и litos, означающих буквально «большой камень». Этот термин применяется к широкому кругу древних сооружений из больших (циклопических) камней, таких как дольмены, каменные ящики, галерейные гробницы, кромлехи, менгиры и прочее."
    }
  },{
    "@type": "Question",
    "name": "Как называют дольмены разные народы?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "У абхазов дольмены называются адамра в значении «дольмен», «склеп», «каменная могила». У адыгейцев дольмены называются мифическим словом испыун буквально означающим «карликов дом». Русское население дольмены называло богатырские хаты или дедовы хаты."
    }
  },{
    "@type": "Question",
    "name": "Что такое дромос в дольмене?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дромос — термин образован от греческого слова dromos – «путь, проход, крытый коридор». Дромос ведёт в погребальную камеру под курганом или в дольмен. Другими словами это проход (коридор) в склеп, гробницу или дольмен, сделанный из камней. Длина коридора может составить от 3 до 12 м."
    }
  },{
    "@type": "Question",
    "name": "Что такое кромлех вокруг дольмена?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Кромлех — термин имеет кельтские корни и переводится как «по кругу стоящий». Характерной чертой кавказских дольменов являются кромлехи, сделанные из отдельных камней, окружающие памятники, символ рубежа необходимого, чтобы отделить сакральное место от обычного пространства. Кромлехи связаны с культом солнца и его движением по небу."
    }
  },{
    "@type": "Question",
    "name": "Где находится самый известный кромлех в Европе?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Самый известный в Европе кромлех Стоунхендж, расположен на юге Англии. Кромлех Стоунхендж образует круг диаметром в 30 м, созданный врытыми вертикально в землю тёсаными камнями высотой до 8,5 м. Возраст кромлеха составляет периоду с 3020 до 2100 гг. до н.э."
    }
  }]
}
</script>