<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Когда начали строить дольмены на Западном Кавказе?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "К концу ХХ в., установили, что самые древние дольмены — сооружения из больших обработанных камней, на Западном Кавказе начали строить примерно 5 тыс. лет назад. Современная археология, расширила время возникновения этой культурной общности и относит её к (?) 2900 (2800) г. до н.э."
    }
  },{
    "@type": "Question",
    "name": "К какой эпохе относятся дольмены?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольменная культура датируется с 2900 (2800) до 1400 (1300) гг. до н. э. Бронзовый век характеризуется ведущей ролью изделий из бронзы, получаемой из сплава меди и олова. Он сменил «медный век» и предшествовал «железному веку». Бронзовый век датируется периодом с конца 4 тыс. до 1,2-1 тыс. до н.э."
    }
  },{
    "@type": "Question",
    "name": "Как определяют возраст дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Наиболее точным методом определения возраста культуры строителей дольменов, является метод радиоуглеродной (радиоизотопной) датировки образцов органического вещества, а именно останки человека или животных, а так же древесный уголь и остатки древесины найденные в погребальных камерах. Этот метод был предложен лишь в 1946 г."
    }
  },{
    "@type": "Question",
    "name": "Когда прекратили строить дольмены?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Таким образом, в конце 2 тыс. до н.э. дольмены, прекратили строить. Традиция строить дольмены на Западном Кавказе прекратилась не сразу. Дольмены использовались вплоть до V-ХII вв. для вторичных захоронений, как исключение, и позже. Есть сведения, что составные гробницы сооружались в верховьях Кубани и в ХVIII в."
    }
  },{
    "@type": "Question",
    "name": "Древнее ли дольмены Кавказа или Европы?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены Западной Европы, как считают учёные, древнее западно-кавказских, их там начали строить около 6 тыс. лет назад. Первые дольменные постройки на Пиренейском полуострове отнесены к 4000-3500 гг. до н.э., а поздние дольмены датируются 2700-2500 гг. до н.э."
    }
  },{
    "@type": "Question",
    "name": "Какие археологические культуры связаны с дольменами?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "С эпохой бронзы и началом железного века на Кубани связаны следующие культурно-исторические общности: Майкопско-новосвободненская (ранняя бронза), Дольменная (2900-1400 гг. до н.э.), Ямная (3600-2300 гг. до н.э.), Катакомбная (2500-2000 гг. до н.э.), Срубная (1800-1200 гг. до н.э.), Киммерийская (конец бронзового начало железного веков)."
    }
  }]
}
</script>