<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Какие дольмены найдены в долине реки Жане?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В долине реки Жане расположен мегалитический комплекс Жане 1, где находится составной дольмен № 1 из блоков. Дольмены в долине реки Жане исследовались Трифоновым В.А. и другими археологами."
    }
  },{
    "@type": "Question",
    "name": "Где расположен дольмен Гузерипль?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Составные дольмены Гузерипль 1 и 2 расположены у посёлка Гузерипль на территории Кавказского государственного заповедника в долине реки Белой. Это одни из хорошо сохранившихся дольменов Западного Кавказа."
    }
  },{
    "@type": "Question",
    "name": "Что такое дольменовидные гробницы верхнего Закубанья?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольменовидные гробницы верхнего Закубанья находятся в верховьях реки Большой Зеленчук в долинах её притоков Индыш, Кяфар и других. Исследователями они датируются VIII-XII вв. и относятся к жителям Западной Алании. По сведениям Марковина В.И., сооружения датируются V-XIII вв."
    }
  },{
    "@type": "Question",
    "name": "Где находится дольмен у села Адербиевка?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Составной дольмен у села Адербиевка исследовался Марковиным В.И. и описан в кратких сообщениях Института археологии АН СССР. Это один из примеров составных дольменов Западного Кавказа."
    }
  },{
    "@type": "Question",
    "name": "Какие дольмены найдены в верховьях реки Бекишей?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены в верховьях реки Бекишей исследовались Кудиным М.И. и описаны в публикации «Сочинский краевед», выпуск 13, Сочи, 2007. Это часть дольменной культуры Черноморского побережья Кавказа."
    }
  },{
    "@type": "Question",
    "name": "Где расположен дольмен из Колихо?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмен из Колихо был спасён и исследован Трифоновым В.А. Описание спасения дольмена опубликовано в научно-популярном журнале «Достояние поколений» № 3, М., 2009. Это один из памятников дольменной культуры, требующих охраны."
    }
  }]
}
</script>