<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Как представляли строителей дольменов в ХIХ веке?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Люди во все времена отличались любознательностью и когда у них не хватало знаний для объяснения того или иного явления, они придумывали свои сказочные пояснения. У народа хакучи, например, дольмены называли «дом карлика». У них в ХIХ в. существовала сказка-легенда о маленьких людях сипы, величиной не больше пальца, которые строили свои дома сами."
    }
  },{
    "@type": "Question",
    "name": "Почему дольмены называли богатырскими хатами?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Русское население, которое переселилось на Кубань, дольмены стали называть «богатырскими хатами» или «могилами богатырей», так как по их представлениям их строили богатыри. Вероятно, услышав от горцев сказку о великанах и карликах, её переиначили на свой лад."
    }
  },{
    "@type": "Question",
    "name": "Что думали местные жители о дольменах в ХIХ веке?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Неприкосновенность каменных могил понималась туземным населением не однозначно: они считали их то священными могилами, то места умерших от какой-то заразной болезни. Горцы категорически отказались продолжать раскопки, в силу существовавшего у них убеждения, что в такого рода сооружениях заключены тела умерших от какой-то заразной болезни."
    }
  },{
    "@type": "Question",
    "name": "Когда термин дольмен закрепился в науке?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Термин дольмен, для названия мегалитических памятников археологии на Западном Кавказе, стал применяться с конца 60-х годов ХIХ в. В Западной Европе термин дольмен стал использоваться с конца ХVIII в. Но слово tolmen встречается в одной из монастырских записей ХI в."
    }
  },{
    "@type": "Question",
    "name": "Что такое мегалитический туризм?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В новейшее время, конец 90-х годов ХХ и начало ХХI вв., к дольменам потянулись многочисленные члены различных экзотических религиозных течений и сект. Где преобладала вымышленная информация, о дольменах как местах какой-то «силы» и неких «знаний»? Издавалась литература оккультно-мистического содержания, рассчитанная на обман публики из среды отдыхающих."
    }
  },{
    "@type": "Question",
    "name": "Какие современные мифы существуют о дольменах?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Есть люди, которые считают и верят, что люди дольмены строили детёнышам драконов, на которых они прилетели с планеты Фаэтон (гипотетическая планета между Марсом и Юпитером) на Землю. Некоторые экскурсоводы до сих пор пытаются заинтересовать туристов байками о мистической энергетике дольменов."
    }
  }]
}
</script>