<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Из каких горных пород строили дольмены?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Дольмены на Западном Кавказе, в основном, построены там, где есть естественные выходы горных пород на дневную поверхность. Это был, как правило, песчаник и известняк, а так же сланец и даже мергель и конгломераты. Указанные горные породы относительно легко поддаются обработке, за исключением мергеля он хрупкий."
    }
  },{
    "@type": "Question",
    "name": "Где добывали камень для дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Горные породы для строительства дольменов, отбирались, как правило, в непосредственной близости от места, где сооружался дольмен или их группа. Отбор каменных блоков или плит, производился с поверхности земли без создания, то есть рытья специальных карьеров."
    }
  },{
    "@type": "Question",
    "name": "Как обрабатывали каменные плиты для дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Шлифовка делалась довольно просто. Поверхность каменных плит или блоков до этого выравнивалась орудием напоминающим современное зубило, сделанное из металла или более твёрдой горной породы, например, из диабаза или кремня. Затем при помощи небольшого куска горной породы, видимо, из плотного крупнозернистого песчаника, производились интенсивные поступательные движения по каменной поверхности."
    }
  },{
    "@type": "Question",
    "name": "Как транспортировали каменные плиты для дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Доставляли тяжёлые каменные плиты (блоки) с помощью катков (вальцов), сделанных из брёвен и с помощью рычагов или на примитивных деревянных санях волокушах, запряжённых волами, используя каменно-земляные насыпи. Перемещение на камнях шаровидной формы, могло давать больше возможностей строителям дольменов при перемещении плит на поверхностях различной конфигурации."
    }
  },{
    "@type": "Question",
    "name": "Сколько весили плиты дольменов?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Общий вес одного дольмена может колебаться от 10-15 до нескольких десятков тонн, вес одной только плиты может составлять от 3-4 до 30 тонн. Самый большой из сохранившихся плиточных дольменов на Западном Кавказе, является дольмен расположенный недалеко от абхазского села Азанта. Вес всего дольмена, составляет почти 150 тонн."
    }
  },{
    "@type": "Question",
    "name": "Правда ли что дольмены строили из жидкой субстанции?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Мифическая версия сооружения дольменов из ПГЦМ (песчано-глинистая цементирующая масса), представляется что дольмены отливались или лепились из массы, которая выдавливалась из недр на поверхность земли. Однако согласно геологической карте дольмены изготовлены из горных пород осадочного (песчаник) и вулканогенно-терригенно-осадочного (туфы, туффиты, туфопесчаники) генезиса."
    }
  }]
}
</script>