<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "name": "Часто задаваемые вопросы о топонимах вокруг Сочи",
  "mainEntity": [{
    "@type": "Question",
    "name": "Какие топонимы есть в районе Большого Сочи?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В районе Большого Сочи расположены многочисленные географические объекты: реки, горы, посёлки. Названия протянулись от Шепси до Псоу вдоль Черноморского побережья."
    }
  },{
    "@type": "Question",
    "name": "Откуда взялись названия мест вокруг Сочи?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Названия мест вокруг Сочи имеют адыгское происхождение: Мзымта, Херота, Псоу, Лаура. Многие топонимы сохранились с древних времён заселения Черноморского побережья."
    }
  },{
    "@type": "Question",
    "name": "Что такое Большой Сочи?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Большой Сочи это муниципальное образование городской округ город-курорт Сочи, который входит в состав Краснодарского края. Он разделён на 4 внутригородских района: Адлерский, Лазаревский, Хостинский и Центральный (собственно город Сочи)"
    }
  }]
}
</script>