<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находится село Волконка?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Село Волконка расположено в Лазаревском районе Сочинского городского округа Краснодарского края, в долине ручья Годлих, впадающего в Чёрное море. Село разделено на три части: Нижняя, Средняя и Верхняя Волконка."
    }
  },{
    "@type": "Question",
    "name": "Почему село назвали Волконка?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название произошло от фамилии владельцев участка и дачи в этом районе Волконских. Село зарегистрировано в 1923 г. как Волконское. Вероятнее всего, имение было выкуплено князем Волконским в конце ХIХ в."
    }
  },{
    "@type": "Question",
    "name": "Что такое Волконский дольмен?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Волконский дольмен-монолит относится к самой малочисленной группе дольменов такой конструкции на Западном Кавказе. Каменная глыба серого песчаника имеет высоту 6 м и ширину 7,4 м, погребальная камера расположена на высоте 2,8 м."
    }
  },{
    "@type": "Question",
    "name": "Что означает название ручья Годлих?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Гидроним Годлих, видимо, образован от автохтонного словосочетания гъолыех, в которое входит шапсугский ботанический термин гъо — «омела» и слово лыех — «вред, зло», что может означать «ядовитая омела»."
    }
  },{
    "@type": "Question",
    "name": "Кто такой князь Волконский?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Скорее всего, имение получило название от имени князя Волконского Михаила Сергеевича (1832-1909 гг.) — русского государственного деятеля, с 1857 г. был на Кавказе и служил на передовых Закубанских постах."
    }
  },{
    "@type": "Question",
    "name": "Сколько дольменов у села Волконка?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Кроме дольмена-монолита у села Волконка есть группа дольменов Волконское 2 или Годлих 2, в которую входит 9 дольменов (корытообразных и плиточных) и каменное корыто."
    }
  }]
}
</script>