<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Какая самая длинная река в степной зоне Краснодарского края?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Река Ея по длине и площади водосборного бассейна занимает первое место среди рек степей Краснодарского края. Её протяжённость составляет почти 320 км."
    }
  },{
    "@type": "Question",
    "name": "Что означает название реки Весёлая?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название реки Весёлая, по всей видимости, происходит от понятия «весёлая рыба» — верховодка, уклейка, чехонь, которая плавает на поверхности воды и плескается. Это свидетельствует о былом изобилии рыбы в речке."
    }
  },{
    "@type": "Question",
    "name": "Почему реку назвали Сосыка?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название реки Сосыка происходит от тюркоязычного слова «сасык», означающее «тухлый, вонючий». Предполагают, что название произошло от наличия сероводорода в грунтовых водах, питающих водоток. Сосыка имеет самую большую минерализацию воды среди рек края."
    }
  },{
    "@type": "Question",
    "name": "Что означает название реки Куго-Ея?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Первую часть гидронима производят от тюркского слова «куга» — высокое трубчатое растение из семейства осоковых. Также возможно от турецкого «kugu» — лебедь. Вторая часть происходит от названия реки Ея и указывает, что река входит в её систему."
    }
  },{
    "@type": "Question",
    "name": "Почему реку назвали Плоская?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Топонимом Плоская назывались долины (балки), которые не выражены в рельефе, что подчёркивалось ровной поверхностью сенокосов по их берегам. От названия долин получали наименование и реки, протекающие по ним."
    }
  },{
    "@type": "Question",
    "name": "Откуда произошло название реки Горькая?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Вода в речке Горькая имеет горько-солёный привкус, что определило её название, а также название балке и селению Горькая Балка, расположенному в её верхнем течении."
    }
  }]
}
</script>