<footer>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="text-left text-muted">
                    <strong>Разделы сайта</strong>
                    <ul>
                       <li><a href="/toponymy/">Очерки по топонимике</a></li>
                       <li><a href="/mysteries-dolmens/">Тайны тысячелетних дольменов</a></li>
                       <li><a href="/info/">Ифнормация</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-5">
                <div class="text-left text-muted">
                    <strong>Популярные статьи:</strong>
                    <ul>
                        <li><a href="/mysteries-dolmens/ch1p4/">Когда строили дольмены?</a></li>
                        <li><a href="/mysteries-dolmens/ch1p8/">Для чего строили дольмены?</a></li>
                        <li><a href="/mysteries-dolmens/ch1p9/">Кто строил дольмены?</a></li>
                        <li><a href="/mysteries-dolmens/ch1p16/">Реконструкция</a></li>
                        <li><a href="/mysteries-dolmens/ch1p1/">Что означает термин дольмен?</a></li>
                        <li><a href="/mysteries-dolmens/ch2p1/">Самые доступные дольмены Краснодара</a></li>
                        <li><a href="/mysteries-dolmens/ch2p8/">К дольменам на территории Сочи</a></li>
                        <li><a href="/toponymy/k-town-rivers/">Реки Краснодара</a></li>
                        <li><a href="/toponymy/lagonaki/">Что мы знаем о Лагонаки?</a></li>
                        <li><a href="/toponymy/indiuk/">Гора Индюк или Чилипси</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="copyright text-muted">
                    {% if site.author %}
                      {{ site.author }}
                      &nbsp;&bull;&nbsp;
                    {% endif %}
                    2020-{{ site.time | date: '%Y' }}
              
                    {% if site.url-pretty %}
                      &nbsp;&bull;&nbsp;
                        <a href="{% if site.url-canonical %}{{ site.url-canonical }}{% else %}{{ '' | absolute_url }}{% endif %}">{{ site.url-pretty }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>


            
