<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <strong>Разделы сайта</strong>
                <ul>
                   <a href="/toponymy/"><li>Очерки по топонимике</li></a>
                   <a href="/mysteries-dolmens/"><li>Тайны тысячелетних дольменов</li></a >
                   <a href="/info/"><li>Ифнормация</li></a >
                </ul>
            </div>
            <div class="col-3">
                <strong>Популярные статьи:</strong>
                <ul>
                    <a href="/mysteries-dolmens/ch1p1/"><li>Что означает термин дольмен?</li></a>
                    <a href="/mysteries-dolmens/ch1p4/"><li>Когда строили дольмены?</li></a>
                    <a href="/mysteries-dolmens/ch1p8/"><li>Для чего строили дольмены?</li></a>
                    <a href="/mysteries-dolmens/ch1p9/"><li>Кто строил дольмены?</li></a>
                    <a href="/mysteries-dolmens/ch1p16/"><li>Реконструкция</li></a>
                    <a href="/mysteries-dolmens/ch2p1/"><li>Самые доступные для посещения дольмены Краснодарского края</li></a>
                    <a href="/mysteries-dolmens/ch2p8/"><li>К дольменам на территории городского округа Сочи</li></a>
                    <a href="/toponymy/k-town-rivers/"><li>Реки Краснодара</li></a>
                    <a href="/toponymy/lagonaki/"><li>Что мы знаем о Лагонаки?</li></a>
                    <a href="/toponymy/indiuk/"><li>Гора Индюк или Чилипси</li></a>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-inline text-center footer-links">
                  <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="{{ '/feed.xml' | relative_url }}" title="ссылка на RSS-ленту">
                      <span class="fa-stack fa-lg" aria-hidden="true">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
                      </span>
                      <span class="sr-only">RSS</span>
                    </a>
                  </li>
    
                  <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="mailto:{{ site.social-network-links.email }}" title="Написать письмо автору">
                      <span class="fa-stack fa-lg" aria-hidden="true">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                      </span>
                      <span class="sr-only">Email me</span>
                   </a>
                  </li>
    
                  <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="https://t.me/{{ site.social-network-links.telegram }}" title="Телеграмм-канал Заметки географа">
                      <span class="fa-stack fa-lg" aria-hidden="true">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
                      </span>
                      <span class="sr-only">Telegram</span>
                    </a>
                  </li>
    
                  <li class="list-inline-item">
                    <a target="_blank" rel="noopener" href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Твиттер об этом блоге">
                      <span class="fa-stack fa-lg" aria-hidden="true">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                      <span class="sr-only">Twitter</span>
                   </a>
                  </li>
                </ul>
            </div>


            
