<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
var settings={async:!0,crossDomain:!0,url:"https://api.openweathermap.org/data/2.5/onecall?lat=44.64&lon=39.13&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",method:"GET"};$.ajax(settings).done((function(a){console.log(a);var e=a.current.temp;$("#curtemp").append(Math.round(e)+"ºC");var t=a.current.weather[0].description;$("#curweather").append(t+", "),$("#weather").append(t+", ",Math.round(e)+"ºC")}));
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "Длина реки Псекупс",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Протяжённость реки Псекупс составляет 140 км"
            }
        },
        {
            "@type": "Question",
            "name": "Где находится река Псекупс?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Административно верхнее и среднее течение реки, соответственно, расположено на территории Туапсинского района и городского округа Горячий Ключ Краснодарского края, а низовья в Теучежском районе Республики Адыгея."
            }
        },
        {
            "@type": "Question",
            "name": "Где находятся Каверзинские водопады?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Река Кавярзе расположена на территории городского округа Горячий Ключ, имеет протяжённость 25 км и является левым притоком реки Псекупс. Река известна каскадом Каверзинских водопадов, расположенных в истоках Тамбовской щели."
            }
        },
        {
            "@type": "Question",
            "name": "Где находятся Аюкские водопады?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Река Аюк является левым притоком реки Чепси, она имеет протяжённость около 15 км. Долина речки известна Аюкскими водопадами их два - Верхний и Нижний."
            }
        }
    ]
}
</script>
