<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   var settings = {
     "async": true,
     "crossDomain": true,
     "url": "https://api.openweathermap.org/data/2.5/weather?id=509985&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",
     "method": "GET"
   }

   $.ajax(settings).done(function (response) {
   console.log(response);

   var curtemp = response.main.temp;
   $("#curtemp").append(Math.round(curtemp) + "ºC");

   var curweather = response.weather[0].description;
   $("#curweather").append(curweather + ", ");

   $("#weather").append(curweather + ", ", Math.round(curtemp) + "ºC");

   });
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Когда основана станица Петровская?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Станица Петровская, как и Павловская, была основана на Кубани в первой половине ХIХ в. во время массового переселения в Черноморию в 1821-1825 гг. жителей Полтавской и Черниговской губерний Российской империи. Основана станица как куренное селение в 1823 г."
    }
  },{
    "@type": "Question",
    "name": "Что такое курень?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Слово курень относится к казачьим терминам, его значение персидский историк Рашид ад Дин (около 1247-1318 гг.) определяет как «кольцо». В старые времена, когда какой-либо отряд останавливался на ночёвку, то повозки устанавливались на подобие кольца, а старейший размещался в середине круга, это называли курень. Термин курень имеет несколько значений: военно-учётная (военно-тактическая) или административно-хозяйственная единица в Запорожском и Черноморском казачьих войсках; селение, станица; дом (казарма, хата); примитивное жилище типа шалаша. Для казаков слово курень было чем-то большим чем дом или станица. Курень служил и порукой, и защитой в нелёгкой жизни казака, а куренное товарищество было им и семьёй."
    }
  }]
}
</script>
