<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "Что такое Чёрные горы?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Чёрные горы – название передовых хребтов Большого Кавказа. Расположены к северу от Скалистого хребта, между меридианом города Майкопа и долиной реки Аргун. Высотой до 1500 м. На склонах леса из бука, дуба и других широколиственных пород"
            }
        },
        {
            "@type": "Question",
            "name": "Что такое Черногор?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Гора Черногор (1754 м) - Спящий Черкес - самая высокая точка плато Черногор. Вероятно название Закубанского плато Черногорье и урочища Черногорье, возникло из-за его труднодоступности. Мифотопоним Черногор, возник в ХIХ в. и происходит от сказочного имени грозного волхва Черногора."
            }
        }
    ]
}
</script>
