<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находится Керченский пролив?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Керченский пролив разделяет Таманский (Кавказ) и Керченский (Крым) полуострова. Он соединяет Азовское и Чёрное моря. Общая протяжённость пролива по фарватеру составляет ~45 км, а ширина колеблется от 3 до 16 км."
    }
  },{
    "@type": "Question",
    "name": "Какая глубина Керченского пролива?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Максимальные глубины пролива в северной части достигают 7 м, а в южной более 9 м, в центральной 5-6 м. Примерно, вдоль параллели, проходящей через мыс Тузла, по дну пролива в центральной части на карте, нанесена изобата с глубиной 10 м, южнее от неё к Чёрному морю глубины, увеличиваются до 13-15 м."
    }
  },{
    "@type": "Question",
    "name": "Где находится коса Чушка?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Коса Чушка (Тамань), расположена на восточном берегу Керченского пролива в его северной части. Начинается коса у мыса Ахиллеон, тянется от него в юго-западном направлении почти на 20 км. Одноимённое название носит посёлок Чушка, расположенный в юго-западной оконечности косы, он входит в состав Запорожского сельского поселения Темрюкского района."
    }
  },{
    "@type": "Question",
    "name": "Где находится коса Тузла?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Коса Тузла, расположена в западной части Таманского полуострова, она частично отделяла Таманский залив от Керченского пролива. Протяжённость косы от основания мыса Тузла, составляла около 12 км. Материал, из которого сложено это аккумулятивное образование, состоит из песка, ракушечника и гальки."
    }
  }]
}
</script>
