<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "Что такое Кавалерка?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Река Кавалерка выделяется своим названием среди множества имён рек в Краснодарском крае. Она является правым притоком реки Ея, впадает в неё между станицами Кисляковской и Кущёвской. Протяжённость реки составляет 80 км, её истоки расположены на абсолютных высотах ~100 м, а устье на высоте около 15 м. Однозначного варианта происхождения этого гидронима нет."
            }
        }
    ]
}
</script>
