<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Сколько населения в Краснодаре?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "По данным 2021 г. всего в Краснодаре численность населения в границах городского округа (со входящими в его состав сельскими населёнными пунктами) составляет 1 038 000 человек."
    }
  },{
    "@type": "Question",
    "name": "Когда Екатеринодар переименовали в Краснодар?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В 1920 г. Екатеринодар переименован в Краснодар."
    }
  }]
}
</script>
