<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Когда основана станица Павловская?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Станица Павловская была основана в начале ХIХ в. уже после переселения на Кубань Черноморского казачьего войска, которое происходило в 1792-1793 гг. Основана станица в 1822 г., как куренное селение."
    }
  },{
    "@type": "Question",
    "name": "Что такое курень?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Слово курень относится к казачьим терминам, его значение персидский историк Рашид ад Дин (около 1247-1318 гг.) определяет как «кольцо». В старые времена, когда какой-либо отряд останавливался на ночёвку, то повозки устанавливались на подобие кольца, а старейший размещался в середине круга, это называли курень. Термин курень имеет несколько значений: военно-учётная (военно-тактическая) или административно-хозяйственная единица в Запорожском и Черноморском казачьих войсках; селение, станица; дом (казарма, хата); примитивное жилище типа шалаша. Для казаков слово курень было чем-то большим чем дом или станица. Курень служил и порукой, и защитой в нелёгкой жизни казака, а куренное товарищество было им и семьёй."
    }
  },{
    "@type": "Question",
    "name": "Что такое кордон?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Пост (кордон) являлся основным и самым многочисленным среди укреплений Черноморской кордонной линии, с 1861 г. Нижнекубанская кордонная линия. Устройство её началось в 1793 г., в 1864 г. ликвидирована. Пост представлял собой четырёхугольный редут с бастионами или полубастионами, вместо которых иногда устраивались кремальеры (небольшой выступ в укреплении под углом 90°, позволяющий вести перекрёстный огонь из ружей). Кордон-пост также окружался рвом, земляным валом, поверх которого устанавливался двойной плетень с земляной засыпкой. Гарнизон поста состоял из 50-200 конных и пеших казаков, одного или нескольких офицеров и артиллерийского вооружении из 1-2, а позднее 4 пушек. Внутри укрепления устраивались турлучные казармы крытые соломой для казаков, и отдельно для офицеров. На кордоне имелось 2 раздельные конюшни (для казаков и офицеров), у ворот — дозорная вышка."
    }
  }]
}
</script>
