<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где самое влажное место в России?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "В истоках реки Белой (река Киша), где расположены самые низкие ледники на Кавказе, существующие благодаря локальным орографическим максимумам увлажнения, согласно некоторым расчётам средние годовые суммы осадков здесь достигают приблизительно 4000 мм"
    }
  },{
    "@type": "Question",
    "name": "Где находится река Киша?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Река Киша (Чегс) расположена на территории Кавказского государственного заповедника, является значимым правым притоком реки Белой. Верховья реки Киша, находятся на северном склоне Главного Кавказского хребта Большого Кавказа. Река Киша, на абсолютной высоте 1703,5 м, образуется при слиянии двух почти равнозначных водотоков."
    }
  }]
}
</script>
