<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "Что такое Ахтырь?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Ахтырь современное название реки, протяжённостью около 35 км, расположенной в Абинском районе Краснодарского края. Современное название река получила от станицы Ахтырской, основанной в 1863 г. на её берегах как Антхырская, в 1867 г. станица была переименована. Топоним Ахтырка был образован от перенесённого сюда в ХIХ в. названия города Ахтырка, основанного в 1641 г. в Сумском уезде Харьковской губернии Российской империи. Город Ахтырка название получил от реки Ахтырка (Охтирка) протяжённостью 28 км, являющейся притоком реки Ворскла, бассейн реки Днепр."
            }
        }
    ]
}
</script>
