<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   var settings = {
     "async": true,
     "crossDomain": true,
     "url": "https://api.openweathermap.org/data/2.5/onecall?lat=44.85&lon=38.30&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",
     "method": "GET"
   }

   $.ajax(settings).done(function (response) {
   console.log(response);

   var curtemp = response.current.temp;
   $("#curtemp").append(Math.round(curtemp) + "ºC");

   var curweather = response.current.weather[0].description;
   $("#curweather").append(curweather + ", ");

   $("#weather").append(curweather + ", ", Math.round(curtemp) + "ºC");

   });
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "Что такое Ахтырь?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Ахтырь современное название реки, протяжённостью около 35 км, расположенной в Абинском районе Краснодарского края. Современное название река получила от станицы Ахтырской, основанной в 1863 г. на её берегах как Антхырская, в 1867 г. станица была переименована. Топоним Ахтырка был образован от перенесённого сюда в ХIХ в. названия города Ахтырка, основанного в 1641 г. в Сумском уезде Харьковской губернии Российской империи. Город Ахтырка название получил от реки Ахтырка (Охтирка) протяжённостью 28 км, являющейся притоком реки Ворскла, бассейн реки Днепр."
            }
        }
    ]
}
</script>
