<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находится гора Собер-Баш?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Гора Собер-Баш расположена в горной части Северского района Краснодарского края на водоразделе рек Афипс и Убин, в непосредственной близости от станиц Крепостной и Убинской."
    }
  },{
    "@type": "Question",
    "name": "Что значит Собер-Баш?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "По одной из версий перевода название вершины с адыгейского языка означает буквально «Воин без головы»."
    }
  }]
}
</script>
