<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   var settings = {
     "async": true,
     "crossDomain": true,
     "url": "https://api.openweathermap.org/data/2.5/weather?id=518255&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",
     "method": "GET"
   }

   $.ajax(settings).done(function (response) {
   console.log(response);

   var curtemp = response.main.temp;
   $("#curtemp").append(Math.round(curtemp) + "ºC");

   var curweather = response.weather[0].description;
   $("#curweather").append(curweather + ", ");

   $("#weather").append(curweather + ", ", Math.round(curtemp) + "ºC");

   });
</script>
