<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Где находится Семиглавая?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Горный массив Семиглавая занимает гребневую часть ГКХ, простирающуюся с северо-запада на юго-восток на 2,5 км. Он почти полностью расположен в Туапсинском районе на водоразделе рек Пшенахо (бассейн реки Туапсе) и Пшиш (бассейн реки Кубань). Крайняя юго-восточная вершина горного массива Семиглавая, называется Кашина (1425,1 м) она является его высшей точкой, ранее она называлась Лысая."
    }
  },{
    "@type": "Question",
    "name": "Что такое Яшкина тропа?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Название тропы возникло в период Туапсинской оборонительной операции в 1942 г. Линия фронта тогда, проходила в этих местах по ГКХ, на абсолютных высотах от 1000 до 1400 метров, а высота местности, куда можно было подвести боеприпасы, составляла всего около 300 м. Поэтому приходилось заносить их на плечах, помощниками в этом не лёгком деле были ишаки. Один из них по кличке Яшка делал это без сопровождения солдат. Существует легенда, что Яшка самостоятельно выбрал свой маршрут подъёма на водораздел к передовой, по которому стали водить и других животных."
    }
  }]
}
</script>
