<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "Длина реки Псекупс",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Протяжённость реки Псекупс составляет 140 км"
            }
        },
        {
            "@type": "Question",
            "name": "Где находится река Псекупс?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Административно верхнее и среднее течение реки, соответственно, расположено на территории Туапсинского района и городского округа Горячий Ключ Краснодарского края, а низовья в Теучежском районе Республики Адыгея."
            }
        },
        {
            "@type": "Question",
            "name": "Где находятся Каверзинские водопады?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Река Кавярзе расположена на территории городского округа Горячий Ключ, имеет протяжённость 25 км и является левым притоком реки Псекупс. Река известна каскадом Каверзинских водопадов, расположенных в истоках Тамбовской щели."
            }
        },
        {
            "@type": "Question",
            "name": "Где находятся Аюкские водопады?",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "Река Аюк является левым притоком реки Чепси, она имеет протяжённость около 15 км. Долина речки известна Аюкскими водопадами их два - Верхний и Нижний."
            }
        }
    ]
}
</script>
