<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   var settings = {
     "async": true,
     "crossDomain": true,
     "url": "https://api.openweathermap.org/data/2.5/onecall?lat=46.35&lon=48.02&exclude=hourly,daily&lang=ru&units=metric&appid=a211b744efa66a1056a76b6627d58f3b",
     "method": "GET"
   }

   $.ajax(settings).done(function (response) {
   console.log(response);

   var curtemp = response.current.temp;
   $("#curtemp").append(round(curtemp)&"ºC");

   var curweather = response.current.weather[0].description;
   $("#curweather").append(curweather);

   var
   $("#weather")
   });
</script>
