<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-muted">
                    <strong>Разделы сайта:</strong>
                    <ul>
                        <li class="text-left"><a title="Очерки по топонимике Кубани" href="/toponymy/">Очерки по топонимике</a></li>
                        <li class="text-left"><a title="Тайны тысячелетних дольменов. Археология. Гипотеза. Открытия. Путеводитель." href="/mysteries-dolmens/">Тайны тысячелетних дольменов</a></li>
                        <li class="text-left"><a title="Анонсы. Планы. Текущая работа." href="/info/">Информация</a></li>
                        <li class="text-left"><a title="Об авторе" href="/aboutme/">Об авторе</a></li>
                        <li class="text-left"><a title="Поиск по сайту" href="/search/">Поиск</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-muted popular">
                    <strong>Последние очерки:</strong>
                    <ul>

                        <li class="text-left"><a title="Собер-Баш - «гора-крепость» или «гора-ведьм»?" href="/toponymy/sober-bash/">Собер-Баш - «гора-ведьм» или «гора-крепость»?</a></li>
                        <li class="text-left"><a title="Папай - Горный красавец" href="/toponymy/papay/">«Горный красавец Папай»</a></li>
                        <li class="text-left"><a title="Ачешбок - горный массив Чёртовы Ворота" href="/toponymy/hell-gate/">Горный массив Чёртовы Ворота (Ачешбок)</a></li>
                        <li class="text-left"><a title="О спорных вопросах происхождения названия станицы Павловской и даты её основания" href="/toponymy/pavlovskaya/">Станица Павловская - история куренного селения</a></li>
                        <li class="text-left"><a title="О спорных вопросах происхождения названия станицы Петровской и даты её основания" href="/toponymy/petrovskaya/">Станица Петровская - история куренного селения</a></li>
                        <li class="text-left"><a title="Липский пост в долине реки Неберджай" href="/toponymy/lipsky-post/">Липский пост Адагумской кордонной линии</a></li>
                        <li class="text-left"><a title="Этимология топонима Геленджик" href="/toponymy/gelendzhik/">Геленджик - история топонима</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-muted">
                    <strong>Популярные статьи:</strong>
                    <ul>
                        <li class="text-left"><a title="Приморско-Ахтарск … Ахтари … Ахтар-Бахтар … Батиар" href="/toponymy/primorsko-akhtarsk/">Приморско-Ахтарск, Ахтари, Ахтар-Бахтар</a></li>
                        <li class="text-left"><a title="Тайны тысячелетних дольменов Кубани" href="/mysteries-dolmens/">Тайны дольменов</a></li>
                        <li class="text-left"><a title="Петроглифы и рисунки на каменных плитах дольменов Западного Кавказа" href="/mysteries-dolmens/ch1p12/">Петроглифы и рисунки на каменных плитах дольменов</a></li>
                        <li class="text-left"><a title="Дольмены на территории городского округа Новороссийск" href="/mysteries-dolmens/ch2p7/">Дольмены Новороссийска</a></li>
                        <li class="text-left"><a title="Для чего строили дольмены?" href="/mysteries-dolmens/ch1p8/">Для чего строили дольмены?</a></li>
                        <li class="text-left"><a title="Керченские переправы" href="/toponymy/kerch-ferrys/">Керченская переправа</a></li>
                        <li class="text-left"><a title="Самые доступные для посещения дольмены Краснодарского края" href="/mysteries-dolmens/ch2p1/">Дольмены Краснодарского края</a></li>
                        <li class="text-left"><a title="К дольменам на территории городского округа Сочи" href="/mysteries-dolmens/ch2p8/">Дольмены в Сочи</a></li>
                        <li class="text-left"><a title="К дольменам расположенным в Туапсинском районе" href="/mysteries-dolmens/ch2p9/">Дольмены Туапсе</a></li>
                        <li class="text-left"><a title="Гора Индюк до ХХ века называлась Чилипси" href="/toponymy/indiuk/">Гора Индюк или Чилипси</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer style="background-color: #7e7e7e; margin-top: 0; text-align: center; border: 0;">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-6">
  			<div class="text-muted">
  				{% include social-networks-links.html %}
  			</div>
  		</div>
  		<div class="col-sm-6">
  				{% if site.author %} © {{ site.author }} &nbsp;&bull;&nbsp; {% endif %} 2020-{{ site.time | date: '%Y' }} {% if site.url-pretty %} &nbsp;&bull;&nbsp;
                  <a title="При полном или частичном копировании и использовании материалов данного сайта ссылка на источник обязательна." href="/info/copyright/">{{ site.url-pretty }}</a>
                  {% endif %}
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-6">
				<form action="https://viktor-dnk.ru/search/" method="get" accept-charset="utf-8" style="margin-top: 3rem;">
					<input class="input" name="text" id="nav-search-input" placeholder="Поиск по сайту..." title="Введите поисковый запрос" />
					<input type="hidden" name="searchid" value="2429341" />
				</form>
  		</div>
  		<div class="col-sm-6">
        <strong>Подписка</strong>
        <br />
        Уведомления о новых очерках на электронную почту:
        <br />
        <form action="https://api.follow.it/subscription-form/dFRLSTFCajZxRW40NFk3aWVtVEFYYXJuODlSTEJDQU1WRDVNNEJTSy9kU295Smo5YmtyVi9VRlVPNkF5WXowQS9mRkljZkFUQUJ5NjhRbW00RC9yK2g3OVc4VndQZjM1b1QzVDVpb3I3QThHTzBBZVNvWGFUeUdhcm9yZUdrWHR8dEkrZzQ5N2JNTVhSNHpoRHFsSWJiODlXcW1EcCtwOWpTcFBNTHBJS3ZIND0=/8" method="post">
            <input type="email" name="email" id="email" inputmode="email" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$" placeholder="Введите email..." title="Введите правильный адрес электронной почты user@example.com" style="width: 230px;" />
        </form>
				<br />
        <br />
        <a href="http://info-7.ru/RusYaz/Yo.shtml" title="Все статьи ёфицированны" target="_blank" rel="noopener"><img src="/img/example-logos/yo.png" alt="ё" width="24" height="25" /></a>
        <br />
        <a class="masto-link" rel="me" href="https://mastodon.ml/@2leack">Find me on Mastodon</a>
        <br />
        <a href="/humans.txt" title="humans.txt" target="_blank"><img src="/img/example-logos/humanstxt.png" alt="humans.txt" width="88" height="31" /></a>
  		</div>
  	</div>
  </div>
</footer>
