<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-muted">
                    <strong>Разделы сайта:</strong>
                    <ul itemscope itemtype="https://schema.org/SiteNavigationElement" role="menu">
                        <li itemprop="name" role="menuitem"><a title="Очерки по топонимике Кубани" href="/toponymy/">Очерки по топонимике</a></li>
                        <li itemprop="name" role="menuitem"><a title="Тайны тысячелетних дольменов. Археология. Гипотеза. Открытия. Путеводитель." href="/mysteries-dolmens/">Тайны тысячелетних дольменов</a></li>
                        <li itemprop="name" role="menuitem"><a title="Анонсы. Планы. Текущая работа." href="/info/">Информация</a></li>
                        <li itemprop="name" role="menuitem"><a title="Об авторе" href="/info/aboutme/">Об авторе</a></li>
                        <li itemprop="name" role="menuitem"><a title="Поиск по сайту" href="/search/">Поиск</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-muted popular">
                    <strong>Последние очерки:</strong>
                    <ul itemscope itemtype="https://schema.org/SiteNavigationElement" role="menu">
                        <li itemprop="name" role="menuitem"><a title="О самых распространённых названиях вершин горного Закубанья - Лысая, Шахан, Бикет, Пикет и другие" href="/toponymy/most-common-names-peaks/">О самых распространённых названиях вершин горного Закубанья</a></li>
                        <li itemprop="name" role="menuitem"><a title="Аушедз Мокрый и Сухой - протоки реки Кубань" href="/toponymy/aushedz/">Протоки реки Кубань - Мокрый и Сухой Аушедз</a></li>
                        <li itemprop="name" role="menuitem"><a title="О Кубанских топонимах, образование которых связывают с деревом берёза" href="/toponymy/birch/">Топонимы образованные от дерева берёза</a></li>
                        <li itemprop="name" role="menuitem"><a title="О реках Большой и Малый Зеленчук расположенных в Краснодарском крае" href="/toponymy/zelenchuk-p1/">О реках Большой и Малый Зеленчук - Часть 1-я</a></li>
                        <li itemprop="name" role="menuitem"><a title="О реках Большой и Малый Зеленчук расположенных за пределами Краснодарского края" href="/toponymy/zelenchuk-p2/">О реках Большой и Малый Зеленчук - Часть 2-я</a></li>
                        <li itemprop="name" role="menuitem"><a title="Ганжа - история Кубанского топонима" href="/toponymy/ganjha/">О Кубанском топониме Ганжа</a></li>
                        <li itemprop="name" role="menuitem"><a title="Вулан - история название реки и её притоков Схошток и Текос" href="/toponymy/vulan/">О реке Вулан и её притоках Схошток и Текос</a></li>
                        <li itemprop="name" role="menuitem"><a title="Из истории названия Закубанских станиц Бесленеевской и Хамкетинской, и некоторых топонимах в их окрестностях" href="/toponymy/besleneevskaya-and-khamketinskaya/">История названия станиц Бесленеевской и Хамкетинской</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-muted">
                    <strong>Популярные статьи:</strong>
                    <ul itemscope itemtype="https://schema.org/SiteNavigationElement" role="menu">
                        <li itemprop="name" role="menuitem"><a title="Тайны тысячелетних дольменов Кубани" href="/mysteries-dolmens/">Тайны дольменов</a></li>
                        <li itemprop="name" role="menuitem"><a title="Самые доступные для посещения дольмены Краснодарского края" href="/mysteries-dolmens/ch2p1/">Дольмены Краснодарского края</a></li>
                        <li itemprop="name" role="menuitem"><a title="Из истории топонима Туапсе. А что он означает?" href="/toponymy/tuapse/">Туапсе - история значения топонима</a></li>
                        <li itemprop="name" role="menuitem"><a title="Петроглифы и рисунки на каменных плитах дольменов Западного Кавказа" href="/mysteries-dolmens/ch1p12/">Петроглифы и рисунки на каменных плитах дольменов</a></li>
                        <li itemprop="name" role="menuitem"><a title="Новые Сады — село Калинино" href="/toponymy/kalinino/">Сады Калинина - Новые сады</a></li>
                        <li itemprop="name" role="menuitem"><a title="Приморско-Ахтарск … Ахтари … Ахтар-Бахтар … Батиар" href="/toponymy/primorsko-akhtarsk/">Приморско-Ахтарск, Ахтари, Ахтар-Бахтар</a></li>
                        <li itemprop="name" role="menuitem"><a title="Населенные пункты в окрестностях Краснодара" href="/toponymy/krasnodar/">Населенные места Краснодара</a></li>
                        <li itemprop="name" role="menuitem"><a title="Особенности погребального обряда в дольменах" href="/mysteries-dolmens/ch1p10/">Погребальный ритуал в дольменах</a></li>
                        <li itemprop="name" role="menuitem"><a title="К мегалитам Мостовского района" href="/mysteries-dolmens/ch2p6/">Дольмены Мостовского района</a></li>
                        <li itemprop="name" role="menuitem"><a title="Из истории происхождения названия города Астрахань" href="/toponymy/astrakhan/">История топонима Астрахань</a></li>
                        <li itemprop="name" role="menuitem"><a title="Дольмены на территории городского округа Новороссийск" href="/mysteries-dolmens/ch2p7/">Дольмены на территории Новороссийска</a></li>
                        <li itemprop="name" role="menuitem"><a title="Керченские переправы" href="/toponymy/kerch-ferrys/">Керченская переправа</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer style="background-color: #7e7e7e; margin-top: 0; text-align: center; border: 0;" itemscope itemtype="http://schema.org/WPFooter">
    <meta itemprop="copyrightYear" content="2020" />
    <meta itemprop="copyrightHolder" content="Koveshnikov Viktor" />
	<meta itemprop="dateCreated" content="2020-09-09" />
	<meta itemprop="dateModified" content="{{ site.time | date:"%Y-%m-%d" }}" />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-muted">
                    {% include social-networks-links.html %}
                </div>
            </div>
            <div class="col-sm-6">
                {% if site.author %} © {{ site.author }} &nbsp;&bull;&nbsp; {% endif %} 2020-{{ site.time | date: '%Y' }} {% if site.url-pretty %} &nbsp;&bull;&nbsp;
                <a title="При полном или частичном копировании и использовании материалов данного сайта ссылка на источник обязательна." href="/info/copyright/">{{ site.url-pretty }}</a>
                {% endif %}
                <br />
                <br />
                <a
                    href="https://creativecommons.org/licenses/by-nc/4.0/deed.ru"
                    title="Все материалы на сайте публикуются с условием указания авторства."
                    target="_blank"
                    rel="noopener"
                >
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/CC_BY-NC_icon-88x31.png" alt="CC BY-NC" width="88" height="31" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- <form action="https://viktor-dnk.ru/search/" method="get" accept-charset="utf-8" style="margin-top: 3rem;">
            <input class="input" name="text" id="nav-search-input" placeholder="Поиск по сайту..." title="Введите поисковый запрос" />
            <input type="hidden" name="searchid" value="2429341" />
            </form> -->
                <div itemscope itemtype="http://schema.org/WebSite">
                    <meta itemprop="url" content="https://viktor-dnk.ru/" />
                    <form itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction" method="get" action="https://viktor-dnk.ru/search/" accept-charset="utf-8" style="margin-top: 3rem;">
                        <meta itemprop="target" content="https://viktor-dnk.ru/search/?q={q}" />
                        <input itemprop="query-input" type="text" name="q" placeholder="Поиск по сайту..." title="Введите поисковый запрос" />
                    </form>
                </div>
				<br />
                <br />
				  {% if page.footer-extra %}
					<div class="footer-custom-content">
					  {% for file in page.footer-extra %}
						{% include {{ file }} %}
					  {% endfor %}
					</div>
				  {% endif %}				
            </div>
            <div class="col-sm-6">
                <strong>Подписка</strong>
                <br />
                Уведомления о новых очерках на электронную почту:
                <br />
                <form
                    action="https://api.follow.it/subscription-form/dFRLSTFCajZxRW40NFk3aWVtVEFYYXJuODlSTEJDQU1WRDVNNEJTSy9kU295Smo5YmtyVi9VRlVPNkF5WXowQS9mRkljZkFUQUJ5NjhRbW00RC9yK2g3OVc4VndQZjM1b1QzVDVpb3I3QThHTzBBZVNvWGFUeUdhcm9yZUdrWHR8dEkrZzQ5N2JNTVhSNHpoRHFsSWJiODlXcW1EcCtwOWpTcFBNTHBJS3ZIND0=/8"
                    method="post"
                >
                    <input
                        type="email"
                        name="email"
                        id="email"
                        inputmode="email"
                        pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$"
                        placeholder="Введите email..."
                        title="Введите правильный адрес электронной почты user@example.com"
                        style="width: 230px;"
                    />
                </form>
                <br />
                <br />
                <a href="http://info-7.ru/RusYaz/Yo.shtml" title="Все статьи ёфицированны" target="_blank" rel="noopener"><img src="/img/example-logos/yo.png" alt="ё" width="24" height="25" /></a>
                <br />
                <br />
                <a href="/humans.txt" title="humans.txt" target="_blank"><img src="/img/example-logos/humanstxt.png" alt="humans.txt" width="88" height="31" /></a>
                <a class="masto-link" rel="me" href="https://mastodon.ml/@2leack">...</a>
            </div>
        </div>
    </div>
</footer>
