<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="google-site-verification" content="cgu9zNViEl7jm8YaQ1Wh0zMR7uuqQQ4-ju0eEtKhI68" />
<meta name="yandex-verification" content="c71aae8f86879b51" />
<meta name="pmail-verification" content="b86eea50f2571a7eb8abc5b9bc4a54c9">
<meta name="copyright" content="© Ковешников В.Н. При полном или частичном копировании и использовании материалов данного сайта ссылка на источник обязательна.">
<link rel="author" type="text/plain" href="https://viktor-dnk.ru/humans.txt" />
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/svg+xml" sizes="120x120" href="/assets/get-up/favicon-120x120.svg">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/get-up/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/get-up/favicon-16x16.png">
<link rel="icon" sizes="192x192" href="/assets/get-up/android-chrome-192x192.png">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/get-up/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/get-up/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/get-up/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/get-up/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/get-up/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/get-up/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/get-up/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/get-up/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="57x57" href="/assets/get-up/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/get-up/apple-touch-icon-180x180-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/get-up/apple-touch-icon-152x152-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/get-up/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/get-up/apple-touch-icon-120x120-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/get-up/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/get-up/apple-touch-icon-76x76-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/get-up/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/get-up/apple-touch-icon-60x60-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/get-up/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/assets/get-up/apple-touch-icon-57x57-precomposed.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/assets/get-up/safari-pinned-tab.svg" color="#87ceeb">
<meta name="apple-mobile-web-app-title" content="Заметки географа">
<meta name="application-name" content="Заметки географа">
<meta name="msapplication-TileColor" content="#87ceeb">
<meta name="msapplication-TileImage" content="/assets/get-up/mstile-144x144.png">
<meta name="theme-color" content="#87ceeb">
<link rel="canonical" href="{{ page.url | absolute_url | strip_index }}">
<!-- <link rel="canonical" href="{{ page.url | absolute_url | strip_index | replace:'.ru/page/2/','.ru/' | replace:'.ru/page/3/','.ru/' | replace:'.ru/page/4/','.ru/' | replace:'.ru/page/5/','.ru/' | replace:'.ru/page/6/','.ru/' | replace:'.ru/page/7/','.ru/' | replace:'.ru/page/8/','.ru/' | replace:'.ru/page/9/','.ru/' | replace:'.ru/page/10/','.ru/' | replace:'.ru/page/11/','.ru/' | replace:'.ru/page/12/','.ru/' | replace:'.ru/page/13/','.ru/' }}"> -->
{% if page.head-extra %}{% for file in page.head-extra %}{% include {{ file }} %}{% endfor %}{% endif %}
<meta name="yandex-tableau-widget" content="logo=https://viktor-dnk.ru/assets/get-up/yandex-tableau-logo.png, color=#87ceeb">

  {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title }}
    {%- elsif page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  {% endcapture %}

  {% capture description %}
    {%- if page.share-description -%}
      {{ page.share-description }}
    {%- elsif page.subtitle -%}
      {{ page.subtitle }}
    {%- else -%}
      {%- assign excerpt_length = site.excerpt_length | default: 50 -%}
      {{ page.content | strip_html | xml_escape | truncatewords: excerpt_length | strip }}
    {%- endif -%}
  {% endcapture %}

  <!--<title>{{ title }}</title>-->
  <title>
    {{ title }}
    {% if paginator.previous_page %} Страница {{ paginator.page }}{% endif %}
  </title>

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  <meta name="description" content="{{ description }}{% if paginator.previous_page %} Страница {{ paginator.page }}{% endif %}">

  {% if site.mobile-theme-col %}
  <meta name="theme-color" content="{{ site.mobile-theme-col }}">
  {% endif %}

  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}{{ page.keywords }}">
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  <link rel="preload" href="/assets/css/material-scrolltop.css" as="style" type="text/css" onload="this.rel='stylesheet'">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" as="style" type="text/css" onload="this.rel='stylesheet'">

  {% include gtag.html %}
  {% include gtm_head.html %}
  {% include google_analytics.html %}

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.site-css %}
    {% for css in site.site-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {% if site.title %}
  <meta property="og:site_name" content="{{ site.title }}">
  {% endif %}

  {%- capture img -%}
    {%- if page.share-img -%}
      {{ page.share-img }}
    {%- elsif page.cover-img -%}
      {%- if page.cover-img.first -%}
        {{ page.cover-img[0].first.first }}
      {%- else -%}
        {{ page.cover-img }}
      {%- endif -%}
    {%- elsif page.thumbnail-img -%}
      {{ page.thumbnail-img }}
    {%- elsif site.avatar -%}
      {{ site.avatar }}
    {% endif %}
  {%- endcapture -%}
  {%- assign img=img | strip -%}

  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <!-- <meta property="og:url" content="{{ page.url | absolute_url | strip_index | replace:'.ru/page/2/','.ru/' | replace:'.ru/page/3/','.ru/' | replace:'.ru/page/4/','.ru/' | replace:'.ru/page/5/','.ru/' | replace:'.ru/page/6/','.ru/' | replace:'.ru/page/7/','.ru/' | replace:'.ru/page/8/','.ru/' | replace:'.ru/page/9/','.ru/' | replace:'.ru/page/10/','.ru/' | replace:'.ru/page/11/','.ru/' | replace:'.ru/page/12/','.ru/' | replace:'.ru/page/13/','.ru/' }}"> -->
  <meta property="og:description" content="{{ description }}{% if paginator.previous_page %} Страница {{ paginator.page }}{% endif %}">
  <meta property="og:locale" content="ru_RU" />
  {% if img != "" %}
  <meta property="og:image" content="{{ page.cover-img[0].first.first | absolute_url | replace: '.jpg','-s.jpg' }}">
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:image:alt" content="{{ title }}" />
        <meta property="og:image:type" content="image/jpeg" />
  {% endif %}

  {% if page.id %}
  <meta property="og:type" content="article">
        <meta property="og:article:author" content="Ковешников В.Н.">
        <meta property="og:article:section" content="{{ page.categories }}">
        <meta property="og: article:published_time" content="{{ page.date | date_to_xmlschema }}">
        <meta property="og: article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
  {% else %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <!-- <meta property="og:url" content="{{ page.url | absolute_url | strip_index | replace:'.ru/page/2/','.ru/' | replace:'.ru/page/3/','.ru/' | replace:'.ru/page/4/','.ru/' | replace:'.ru/page/5/','.ru/' | replace:'.ru/page/6/','.ru/' | replace:'.ru/page/7/','.ru/' | replace:'.ru/page/8/','.ru/' | replace:'.ru/page/9/','.ru/' | replace:'.ru/page/10/','.ru/' | replace:'.ru/page/11/','.ru/' | replace:'.ru/page/12/','.ru/' | replace:'.ru/page/13/','.ru/' }}"> -->
  {% endif %}

  {% if img != "" and img != site.avatar %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:site" content="@2leack">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">

  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}{% if paginator.previous_page %} Страница {{ paginator.page }}{% endif %}">

  {% if img != "" %}
  <meta name="twitter:image" content="{{ page.cover-img[0].first.first | absolute_url | replace: '.jpg','-s.jpg' }}">
  {% endif %}

  {% include matomo.html %}

  {% if page.comments and site.staticman.repository and site.staticman.branch %}
  <link rel="stylesheet" href="{{ "/assets/css/staticman.css" | relative_url }}">
  {% endif %}
</head>
