<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

    <a class="navbar-brand" title="Перейти к основной версии сайта" href="{{ page.url | absolute_url | replace:'.ru/amp/','.ru/' }}">{{ site.title }}</a>
    <a class="navbar-brand" title="Раздел о топоникике Кубани" href="/toponymy/">Топонимика</a>
    <a class="navbar-brand" title="Тайна тысячелетних дольменов" href="/mysteries-dolmens/">Дольмены</a>
    <a class="navbar-brand" title="Ковешников В.Н." href="/aboutme/">Об авторе</a>
        
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a title="Заметки географа" href="{{ '' | absolute_url }}">
          <amp-img class="avatar-img" width="50" height="50" src="{{ site.avatar | relative_url }}"></amp-img>
        </a>
      </div>
    </div>


</nav>
