<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<style type="text/css">
/* Social Button Stype */
.scl-btn {
  padding: 15px;
  font-size: 25px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin:5px;
  color: white;
}
/* Hover Effect */
.scl-btn:hover {
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
  color: white;
}
/* Round buttons */
.scl-crcl {
  border-radius: 50%;
}
/* Round Corners */
.scl-rnd {
    border-radius:5px;
}
/* Brand Colors */
.fa-facebook-f { background: #3B5998; }
.fa-twitter { background: #55ACEE; }
.fa-linkedin-in { background: #007bb5; }
.fa-whatsapp { background: #25D366; }
.fa-envelope { background: #ff6600; }
.fa-pinterest { background: #cb2027; }
.fa-tumblr { background: #2c4762; }
.fa-telegram-plane { background: #0088cc; }
.fa-vk { background: #587ea3; }
.fa-odnoklassniki { background: #f4731c; }
</style>

<div class="col-lg-12 text-center">
    <a class="scl-btn scl-crcl shadow fab fa-vk" rel="nofollow noopener" target="_blank"
	href="https://vk.com/share.php?url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}&image={{ page.cover-img | absolute_url | replace:'.jpg','4x3.jpg'}}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-odnoklassniki" rel="nofollow noopener" target="_blank"
	href="https://connect.ok.ru/offer?url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}&imageUrl={{ page.cover-img | absolute_url | replace:'.jpg','4x3.jpg'}}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-whatsapp" rel="nofollow noopener" target="_blank"
	href="https://api.whatsapp.com/send?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-telegram-plane" rel="nofollow noopener" target="_blank"
	href="https://t.me/share/url?url={{ page.url | absolute_url | url_encode }}&text={{ page.title | url_encode }}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-facebook-f" rel="nofollow noopener" target="_blank"
	href="https://www.facebook.com/sharer.php?src=sp&u={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}&picture={{ page.cover-img | absolute_url | replace:'.jpg','4x3.jpg'}}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-twitter" rel="nofollow noopener" target="_blank"
	href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-linkedin-in" rel="nofollow noopener" target="_blank"
	href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-tumblr" rel="nofollow noopener" target="_blank"
	href="https://www.tumblr.com/share/link?url={{ page.url | absolute_url | url_encode }}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-pinterest" rel="nofollow noopener" target="_blank"
	href="https://pinterest.com/pin/create/button/?url={{ page.url | absolute_url | url_encode }}&media={{ page.cover-img | absolute_url | replace:'.jpg','4x3.jpg'}}&description={{ page.title | url_encode }}&utm_source=share2"
	title="">
</a>

<a class="scl-btn scl-crcl shadow fab fa-envelope" rel="nofollow noopener" target="_blank"
    href="mailto:?subject={{ page.title }}&amp;body=Посмотри эту страницу: {{ page.url | absolute_url | url_encode }}"
    title="">
</a>
</div>

{% endif %}
