<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}


<div class="ya-share2" data-curtain data-use-links data-shape="round" data-direction="vertical" data-limit="0" data-more-button-type="short" data-services="vkontakte,odnoklassniki,whatsapp,telegram,facebook,twitter,linkedin,tumblr,pinterest,lj" data-title="{{ page.title }}" data-image="{{ page.cover-img | absolute_url }}" data-description="{{ description }}"></div>
