<meta name="twitter:card" content="gallery">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image0" content="https://viktor-dnk.github.io/img/toponymy/lago-naki/twi0.jpg">
<meta name="twitter:image1" content="https://viktor-dnk.github.io/img/toponymy/lago-naki/twi1.jpg">
<meta name="twitter:image2" content="https://viktor-dnk.github.io/img/toponymy/lago-naki/twi2.jpg">
<meta name="twitter:image3" content="https://viktor-dnk.github.io/img/toponymy/lago-naki/twi3.jpg">
